{% extends 'layout_retail.html.twig' %}

{% block title %}Fluid!{% endblock %}

{% block body %}
    <div class="hidden users-flash mb-0" id="flash"></div>

    <main class="flex-shrink-0">
        <div class="container-fluid pe-4">
        <div class="row flex-nowrap h-100">
            <div class="col-2 col-sm-2 col-md-3 col-xl-2 px-sm-2 px-0 bg-light border-right left-col">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-truncate overflow-hidden">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100 mt-4" id="menu">

                        {% if retailUser.clinic is null %}
                            {% set id = 'retail_clinic_link' %}
                        {% else %}
                            {% set id = '' %}
                        {% endif %}

                        <li class="nav-item py-3 w-100">
                            <a href="#" class="align-middle px-0 text-primary nav-icon text-truncate" id="{{ id }}">
                                <i class="fa-regular fa-house fa-fw"></i>
                                <span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>
                        <li class="w-100">
                            <a
                                href="#submenu1"
                                data-bs-toggle="collapse"
                                class="px-0 align-middle text-primary collapsed text-center text-sm-start nav-icon mb-3 text-truncate dropdown-link"
                                aria-expanded="false"
                            >
                                <i class="fa-regular fa-user fa-fw"></i>
                                <span class="ms-1 d-none d-sm-inline">My Account</span>
                                <span class="float-end">
                                    <i class="fa-solid fa-caret-right"></i>
                                </span>
                            </a>
                            <ul class="nav flex-column collapse" id="submenu1" data-bs-parent="#menu" style="">
                                <li class="w-100 mb-3">
                                    <a href="#" class="align-middle px-0 text-primary nav-icon text-truncate" id="personal_information_link">
                                        <i class="fa-regular fa-circle-info fa-fw"></i>
                                        <span class="ms-1 d-none d-sm-inline">Personal Information</span>
                                    </a>
                                </li>
                                {# Addresses #}
                                <li class="w-100">
                                    <a
                                        href="#submenu2"
                                        data-bs-toggle="collapse"
                                        class="px-0 align-middle
                                        text-primary text-center dropdown-link
                                        text-sm-start nav-icon mb-3 text-truncate"
                                        aria-expanded="true"
                                    >
                                        <i class="fa-regular fa-address-book fa-fw"></i>
                                        <span class="ms-1 d-none d-sm-inline">Addresses</span>
                                        <span class="float-end">
                                            <i class="fa-solid fa-caret-right"></i>
                                        </span>
                                    </a>
                                    <ul class="nav flex-column collapse" id="submenu2" style="">
                                        <li class="w-100 mb-3">
                                            <a href="#" class="align-middle text-primary nav-icon text-truncate" id="address_new">
                                                <i class="fa-regular fa-square-plus fa-fw"></i>
                                                <span class="ms-1 d-none d-sm-inline">Create New</span>
                                            </a>
                                        </li>
                                        <li class="w-100 mb-3">
                                            <a href="#" class="align-middle text-primary nav-icon text-truncate"  id="addresses_link">
                                                <i class="fa-light fa-list-dropdown fa-fw"></i>
                                                <span class="ms-1 d-none d-sm-inline">List</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item w-100">
                            <a class="align-middle text-primary nav-icon text-truncate" href="#" id="users_link">
                                <i class="fa-regular fa-boxes-stacked fa-fw"></i>
                                <span class="ms-1 d-none d-sm-inline">Orders</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-10 col-sm-10 pb-3 retail-right-col">

                {# Main Container #}
                <div class="row">
                    <div class="col-12" id="retail_container">
                        {{ html|default('An error occurred...')|raw }}
                    </div>
                </div>
                {# End Main Container #}

            </div>
        </div>
    </div>
    </main>
    <div class="overlay"></div>
    <div class="spanner">
        <div class="loader"></div>
        <p>Loading...</p>
    </div>
    <div class="hidden users-flash m-0 save-all-items" id="flash"></div>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function()
        {
            $('body').addClass('d-flex flex-column h-100');

            {# Get correct content on refresh #}
            let uri = window.location.pathname;
            let isPersonalInformation = uri.match('/retail/personal-information');
            let isAddresses = uri.match('/retail/addresses/[0-9]+');

            {# Handle Page Rload #}
            if(isPersonalInformation != null)
            {
                getCompanyInformation();
            }
            if(isAddresses != null)
            {
                getAddresses(1);
            }

            {# Dropdown Menu Carat #}
            $(document).on('click', '.dropdown-link', function (e) {

                e.preventDefault();
                //alert($(this).attr('aria-expanded'));
                if($(this).attr('aria-expanded') == 'true')
                {
                    $(this).find('.fa-caret-right').css({'rotate':'90deg'});
                }
                else
                {
                    $(this).find('.fa-caret-right').css({'rotate':'0deg'});
                }
            });

            adjustSideNavHeight();

            {# Company Information #}
            function getCompanyInformation()
            {
                $.ajax({
                    url: "{{ path('retail_get_personal_information') }}",
                    type: 'POST',
                    dataType: 'json',
                    beforeSend: function ()
                    {
                        isLoading(true);
                    },
                    success: function (response)
                    {
                        isLoading(false);
                        $('#retail_container').empty().append(response);
                        window.history.pushState(null, "Fluid", '/retail/personal-information');

                        // International Numbers
                        let input = document.querySelector('#telephone');
                        let isoCode = $('#iso_code').val();

                        let iti = window.intlTelInput(input, {
                            initialCountry: isoCode,
                            preferredCountries: ['ae','qa', 'bh', 'om', 'sa'],
                            autoPlaceholder: "polite",
                            nationalMode: true,
                            utilsScript: "{{ asset('js/utils.min.js') }}", // just for formatting/placeholders etc
                            separateDialCode: true,
                            utilsScript: "/js/utils.js",
                        });

                        let handleChange = function()
                        {
                            let mobile = $('#mobile');
                            let mobile_number = (iti.isValidNumber()) ? iti.getNumber() : false;
                            let textNode = document.createTextNode(mobile_number);

                            if(mobile_number != false)
                            {
                                let isoCode = iti.getSelectedCountryData().iso2;
                                let intlCode = iti.getSelectedCountryData().dialCode;

                                mobile.val(mobile_number.substring(1));
                                $('#iso_code').val(isoCode);
                                $('#intl_code').val(intlCode);
                            }
                        };

                        // listen to "keyup", but also "change" to update when the user selects a country
                        input.addEventListener('change', handleChange);
                        input.addEventListener('keyup', handleChange);
                    }
                });
            }
            $(document).on('click', '#personal_information_link', function (e)
            {
                getCompanyInformation();
            });
            $(document).on('submit','#retail_form', function (e)
            {
                e.preventDefault();

                let isValid = true;
                let firstName = $('#first_name').val();
                let lastName = $('#last_name').val();
                let email = $('#email').val();
                let telephone = $('#mobile_no').val();
                let errorFirstName = $('#error_first_name');
                let errorLastName = $('#error_last_name');
                let errorEmail = $('#error_email');
                let errorTelephone = $('#error_telephone');

                errorFirstName.hide();
                errorLastName.hide();
                errorEmail.hide();
                errorTelephone.hide();

                if(firstName == '' || firstName == 'undefined')
                {
                    errorFirstName.show();
                    isValid = false;
                }

                if(lastName == '' || lastName == 'undefined')
                {
                    errorLastName.show();
                    isValid = false;
                }

                if(email == '' || email == 'undefined')
                {
                    errorEmail.empty().append('Required Field').show();
                    isValid = false;
                }

                if(telephone == '' || telephone == 'undefined')
                {
                    errorTelephone.show();
                    isValid = false;
                }

                if(isValid == true)
                {
                    let data = new FormData(this);

                    $.ajax({
                        url: "{{ path('update_retail_user') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        beforeSend: function ()
                        {
                            isLoading(true);
                        },
                        complete: function (e)
                        {
                            if (e.status === 500) {
                                window.location.href = '{{ path('clinic_error_500') }}';
                            }
                        },
                        success: function (response)
                        {
                            getFlash(response.flash, response.type);
                            isLoading(false);
                        }
                    });
                }
            });
            {# End Company Information #}

            {# Addresses #}
            function getAddresses(pageId, isNew = false)
            {
                $.ajax({
                    async: "true",
                    url: '{{ path('get_retail_addresses') }}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'page-id': pageId,
                    },
                    beforeSend: function ()
                    {
                        isLoading(true)
                    },
                    complete: function(e)
                    {
                        if(e.status === 500){
                            window.location.href = '{{ path('retail_error_500') }}';
                        }
                    },
                    success: function (response)
                    {
                        $('#retail_container').empty().append(response.html).show();
                        isLoading(false);
                        window.history.pushState(null, "Fluid", '/retail/addresses/1');

                        if(isNew)
                        {
                            let input = document.querySelector("#address_mobile");
                            let isoCode = $('#address_iso_code').val();

                            let iti = window.intlTelInput(input, {
                                initialCountry: isoCode,
                                preferredCountries: ['ae','qa', 'bh', 'om', 'sa'],
                                autoPlaceholder: "polite",
                                nationalMode: true,
                                utilsScript: "{{ asset('js/utils.min.js') }}", // just for formatting/placeholders etc
                                separateDialCode: true,
                                utilsScript: "/js/utils.js",
                            });

                            let handleChange = function() {
                                let mobile = $('#address_telephone');
                                let mobileNumber = (iti.isValidNumber()) ? iti.getNumber() : false;
                                let textNode = document.createTextNode(mobileNumber);

                                if(mobileNumber != false){

                                    let isoCode = iti.getSelectedCountryData().iso2;
                                    let intlCode = iti.getSelectedCountryData().dialCode;

                                    mobile.val(mobileNumber.substring(1));
                                    $('#address_iso_code').val(isoCode);
                                    $('#address_intl_code').val(intlCode);

                                }
                            };

                            // listen to "keyup", but also "change" to update when the user selects a country
                            input.addEventListener('change', handleChange);
                            input.addEventListener('keyup', handleChange);

                            $('#modal_address').modal('toggle');
                        }
                    }
                });
            }
            $(document).on('click', '#addresses_link', function (e)
            {
                e.preventDefault();

                getAddresses(1);
            });
            $(document).on('click', '#address_new', function ()
            {
                getAddresses(1, true);
                $('#address_id').val(0);
                $('#address_clinic_name').val('');
                $('#address_mobile').val('');
                $('#address_line_1').val('');
                $('#address_modal_label').empty().append('Create An Address');
            });
            $(document).on('click', '#btn_map', function ()
            {
                let gmapController = (function () {
                    return initialize();
                })();
            });
            $(document).on('click', '#btn_map', function ()
            {
                let visible = $('#address_map').is(":visible");
                let width = $(window).width();
                let modal_height = $('#modal_address .modal-body').height();
                $('#address_map').toggle(700);

                if(visible == false){

                    let height = $('#modal_address .modal-body').height();
                    $.session.set('modal_height', height);

                    if(width < 579) {

                        $('#modal_address .modal-body').css('height', (modal_height + 370));

                    } else {

                        $('#modal_address .modal-body').css('height', (modal_height + 370));
                    }

                } else {

                    $('#modal_address .modal-body').css('height', $.session.get('modal_height'));
                }
            });
            $(document).on('submit', '#form_addresses', function(e)
            {
                e.preventDefault();

                let isValid = true;
                let clinicName = $('#address_retail_name').val()
                let telephone = $('#address_telephone').val();
                let addressLine1 = $('#address_line_1').val();
                let type = $('#address_type').val();
                let errorClinicName = $('#error_address_retail_name');
                let errorTelephone = $('#error_address_telephone');
                let error_AddressLine1 = $('#error_address_line_1');
                let errorType = $('#error_address_type');

                errorClinicName.hide();
                errorTelephone.hide();
                error_AddressLine1.hide();
                errorType.hide();

                if(clinicName == '' || clinicName == 'undefined'){

                    errorClinicName.show();
                    isValid = false;
                }

                if(telephone == '' || telephone == 'undefined'){

                    errorTelephone.show();
                    isValid = false;
                }

                if(addressLine1 == '' || addressLine1 == 'undefined'){

                    error_AddressLine1.show();
                    isValid = false;
                }

                if(type == '' || type == 'undefined'){

                    error_type.show();
                    isValid = false;
                }

                if(isValid == true){

                    $("<input />").attr("type", "hidden").attr("name", "page_id").attr("value", $('#page_no').val()).appendTo("#form_addresses");

                    let data = new FormData(this);

                    $.ajax({
                        async: "true",
                        url: "{{ path('update_retail_address') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        beforeSend: function (){
                            isLoading(true);
                        },
                        success: function (response) {
                            getFlash(response.flash);

                            $('#modal_address').modal('toggle');
                            $('#retail_container').empty().append(response.addresses);
                            $('#paginator').empty().append(response.pagination).show();
                            isLoading(false);
                            $('#address_retail_name').val('');
                            $('#address_telephone').val('');
                            $('#address_line_1').val('');
                            $('#address_suite').val('');
                            $('#address_postal_code').val('');
                            $('#address_city').val('');
                            $('#address_state').val('');
                        }
                    });
                }
            });
            $(document).on('click', '.address_update', function ()
            {
                let address_id = $(this).data('address-id');

                $.ajax({
                    async: "true",
                    url: "{{ path('get_address') }}",
                    type: 'POST',
                    data: {
                        id: address_id
                    },
                    success: function (response) {
                        $('#address_retail_name').val(response.clinic_name);
                        $('#address_telephone').val(response.telephone);
                        $('#address_mobile').val(response.telephone);
                        $('#address_iso_code').val(response.iso_code);
                        $('#address_intl_code').val(response.intl_code);
                        $('#address_line_1').val(response.address);
                        $('option').attr('selected', false);

                        if(response.type == 1){

                            $('#option_billing').attr('selected', true);
                        }

                        if(response.type == 2){

                            $('#option_shipping').attr('selected', true);
                        }

                        let input = document.querySelector("#address_mobile");

                        iti = window.intlTelInput(input, {
                            preferredCountries: ['ae','qa', 'bh', 'om', 'sa'],
                            initialCountry: response.iso_code,
                            autoPlaceholder: "polite",
                            nationalMode: true,
                            utilsScript: "{{ asset('js/utils.min.js') }}", // just for formatting/placeholders etc
                            separateDialCode: true,
                            utilsScript: "/js/utils.js",
                        });
                    }
                });

                $('#address_id').val(address_id);
                $('#address_modal_label').empty().append('Update An Address');
            });
            $(document).on('click', '#delete_address', function ()
            {
                let addressId = $(this).data('address-id');

                $.ajax({
                    async: "true",
                    url: "{{ path('address_delete') }}",
                    type: 'POST',
                    data: {
                        id: addressId,
                        page_id: 1
                    },
                    beforeSend: function ()
                    {
                        isLoading(true);
                    },
                    success: function (response)
                    {
                        getFlash(response.flash);
                        $('#modal_address_delete').modal('toggle');
                        $('#basket_container').empty().append(response.addresses);
                        $('#paginator').empty().append(response.pagination).show();

                        isLoading(false);
                    }
                });
            });
            $(document).on('click', '.open-delete-address-modal', function (e)
            {
                e.preventDefault();

                $('#delete_address').attr('data-address-id', $(this).data('address-id'));
            });
            {# End Addresses #}

            {# Select Clinic #}
            $(document).on('click', '#retail_clinic_link', function (e)
            {
                e.preventDefault();

                $.ajax({
                    async: "true",
                    url: '{{ path('retail_search') }}',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'is-ajax': true,
                    },
                    beforeSend: function ()
                    {
                        isLoading(true)
                    },
                    complete: function(e)
                    {
                        if(e.status === 500){
                            window.location.href = '{{ path('retail_error_500') }}';
                        }
                    },
                    success: function (response)
                    {
                        $('#retail_container').empty().append(response).show();
                        isLoading(false);
                        window.history.pushState(null, "Fluid", '/retail/search');
                    }
                });
            });
            $(document).on('click', '.btn-retail-connect', function (e)
            {
                e.preventDefault();

                $('#btn_request_connection').attr('data-clinic-id', $(this).attr('data-clinic-id'));
                $('#modal_connect').modal('toggle');
            });
            $(document).on('click', '#btn_request_connection', function ()
            {
                let clinicId = $(this).attr('data-clinic-id');
                let retailUserId = $(this).attr('data-retail-user-id');

                if(clinicId != '' || clinicId != 'undefined' || retailUserId != '' || retailUserId != 'undefined')
                {
                    $.ajax({
                        async: "true",
                        url: '{{ path('retail_request_connection') }}',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            'clinic-id': clinicId,
                            'retail-user-id': retailUserId,
                        },
                        beforeSend: function ()
                        {
                            isLoading(true)
                        },
                        complete: function(e)
                        {
                            if(e.status === 500){
                                //window.location.href = '{{ path('retail_error_500') }}';
                            }
                        },
                        success: function (response)
                        {
                            $('#modal_connect').modal('toggle');
                            $('.btn-retail-connect').addClass('bg-disabled').attr('disabled', true);
                            isLoading(false);
                            getFlash(response.flash, response.type);
                        }
                    });
                }
                else
                {
                    alert('An error occured');
                }
            });
            {# End Select Clinic #}

            {# Popovers #}
            function popOver()
            {
                var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                    return new bootstrap.Popover(popoverTriggerEl)
                })
            }

            {# Flash Message #}
            function getFlash(flash, type = 'success')
            {
                $('#flash').addClass('alert-'+ type).addClass('alert').addClass('text-center');
                $('#flash').removeClass('users-flash').addClass('users-flash').empty().append(flash).removeClass('hidden');

                setTimeout(function() {
                    $('#flash').removeClass('alert-success').removeClass('alert').removeClass('text-center');
                    $('#flash').removeClass('users-flash').empty().addClass('hidden');
                }, 5000);
            }

            $('#flash').click(function ()
            {
                $('#flash').addClass('hidden');
            });

            {# Loading Overlay #}
            function isLoading(status)
            {
                if(status) {

                    $("div.spanner").addClass("show");
                    $("div.overlay").addClass("show");

                } else {

                    $("div.spanner").removeClass("show");
                    $("div.overlay").removeClass("show");
                }
            }

            {# Adjust SideNav Height #}
            function adjustSideNavHeight()
            {
                let topNavHeight = $('nav').outerHeight();
                let footerHeight = $('footer').outerHeight();
                let windowHeight = document.documentElement.scrollHeight;
                let leftColHeight = windowHeight - (topNavHeight + footerHeight) + 16;
                let footerPosition = topNavHeight + leftColHeight;

                $('.left-col').css(
                {
                    'top':topNavHeight,
                    'position':'relative',
                    'overflow': 'scroll'
                });

                $('.retail-right-col').css(
                {
                    'margin-top': topNavHeight
                });
            }
        });

        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl)
        {
            return new bootstrap.Popover(popoverTriggerEl)
        });
    </script>
{% endblock %}

