{% extends 'layout_clinic.html.twig' %}

{% block meta_title %}Fluid Inventory Search{% endblock %}

{% block meta_decription %}
    <meta name="description" content="">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="hidden users-flash m-0 save-all-items" id="flash"></div>
    <div
        class="container-xl mt-2 mt-sm-5 mb-1 mb-sm-5"
        id="clinic_container"
        data-controller="orders--clinics products--search products--lists basket--basket products--reviews products--notes products--details clinics--inventory clinics--account-settings clinics--addresses clinics--users clinics--communication-methods products--tracking"
    >
    </div>

    <div class="overlay"></div>
    <div class="spanner">
        <div class="loader"></div>
        <p class="text-light fw-bold" style="font-size: 36px;">Loading...</p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#btn_basket').attr('data-basket-id', {{ basket_id }});

        $(document).ready(function ()
        {
            $.session.set('permissions', '{{ permissions }}');
            $.session.set('clinic-id', '{{ clinic_id }}');
            let uri = window.location.pathname;
            let isAnalytics = uri.match('/clinics/analytics');
            let orderid = '{{app.request.get('order_id')}}';
            let distributorid = '{{app.request.get('distributor_id')}}';
            let iti = '';
            let searchArray = [];
            let categoryArray = [];
            let manufacturerArray = [];
            let selectedManufacturerArray = [];
            let distributorArray = [];
            let selectedDistributorArray = [];
            let favourite = false;
            let inStock = false;
            let clinicId = {{ clinic_id|default(0) }};

            $('#btn_map').hide();

            $(document).on('click', '.dropdown-item, #btn_basket', function ()
            {
                $('#main_nav').slideUp();
                $('#account_menu').slideUp();
            });

            $(document).click(function (event) {

                /// If *navbar-collapse* is not among targets of event
                if (!$(event.target).is('.navbar-collapse *')) {

                    /// Collapse every *navbar-collapse*
                    $('.navbar-collapse').collapse('hide');

                }
            });

            function isLoading(status)
            {
                if(status)
                {
                    $("div.spanner").addClass("show");
                    $("div.overlay").addClass("show");

                }
                else
                {
                    $("div.spanner").removeClass("show");
                    $("div.overlay").removeClass("show");
                }
            }

            {# Prevent loading overlay on multiple clicks #}
            $(document).on('click','.account-dropdown-toggle', function (e)
            {
                e.preventDefault();
                isLoading(false);
            });

            {# Get correct content on refresh #}
            {# Analytics #}
            if(isAnalytics != null)
            {
                getAnalytics();
            }

            {# Inventory Search #}
            let page_no = 0;
            let form_data = '';
            let get_messages = '';

            {# Categories #}
            $(document).on('click', '.category-select', function(e)
            {
                e.preventDefault();

                let categoryId = $(this).attr('data-category-id');
                let level = $(this).attr('data-level');
                categoryArray = [];

                categoryArray.push({'level':level, 'categoryId': categoryId});

                getSearchArray();
                getSearchResults(1, '', false, 0, searchArray, '');
                resetFilterBtn();
            });

            {# Distributors #}
            $(document).on('click', '.distributor-select', function(e)
            {
                e.preventDefault();

                let distributorId = $(this).attr('data-distributor-id');
                let checkbox = $(this).find('input:first-child');

                if(checkbox.is(':checked'))
                {
                    checkbox.attr('checked', false);
                    selectedDistributorArray = $.grep(selectedDistributorArray, function(value)
                    {
                        return value != distributorId;
                    });
                }
                else
                {
                    checkbox.attr('checked', true);
                    selectedDistributorArray.push(distributorId)
                }

                getSearchArray();
                getSearchResults(1, '', false, 0, searchArray, '');
                resetFilterBtn();
            });

            {# Manufacturers #}
            $(document).on('click', '.manufacturer-select', function(e)
            {
                e.preventDefault();

                let manufacturerId = $(this).attr('data-manufacturer-id');
                let checkbox = $(this).find('input:first-child');

                if(checkbox.is(':checked'))
                {
                    checkbox.attr('checked', false);
                    selectedManufacturerArray = $.grep(selectedManufacturerArray, function(value)
                    {
                        return value != manufacturerId;
                    });
                }
                else
                {
                    checkbox.attr('checked', true);
                    selectedManufacturerArray.push(manufacturerId)
                }

                getSearchArray();
                getSearchResults(1, '', false, 0, searchArray, '');
                resetFilterBtn();
            });

            {# Favourites #}
            $(document).on('click', '.favourite-select', function (e)
            {
                e.preventDefault();

                let checkbox = $(this).find('input');

                if(checkbox.is(':checked'))
                {
                    checkbox.attr('checked', false);
                    favourite = false;

                }
                else
                {
                    checkbox.attr('checked', true);
                    favourite = true;
                }

                getSearchArray();
                getSearchResults(1, '', false, 0, searchArray, '');
                resetFilterBtn();
            });

            {# In Stock #}
            $(document).on('click', '.in-stock-select', function (e)
            {
                e.preventDefault();

                let checkbox = $(this).find('input');

                if(checkbox.is(':checked'))
                {
                    checkbox.attr('checked', false);
                    inStock = false;
                }
                else
                {
                    checkbox.attr('checked', true);
                    inStock = true;
                }

                getSearchArray();
                getSearchResults(1, '', false, 0, searchArray, '');
                resetFilterBtn();
            });

            {# Reset Filters #}
            $(document).on('click', '#filter_reset_btn', function(e)
            {
                e.preventDefault();

                let pageNo = 1;
                let keyword = $('#search_field').val();

                $.ajax({
                    async: "true",
                    url: "{{ path('search_inventory') }}",
                    type: 'POST',
                    data: {
                        'keyword': keyword,
                        'page-no': pageNo
                    },
                    beforeSend: function ()
                    {
                        isLoading(true);
                    },
                    complete: function(e)
                    {
                        if(e.status === 500)
                        {
                            window.location.href = '{{ path('clinic_error_500') }}';
                        }
                    },
                    success: function (response)
                    {
                        if(window.location.pathname == '/clinics/inventory')
                        {
                            $('#search_field').val(keyword);
                            $('#inventory').empty().append(response.html);
                            $('.container').removeClass('mt-5').addClass('mt-5');
                            $('#dd_categories').empty().append(response.category_list);
                            $('#dd_distributors').empty().append(response.distributors_list);
                            $('#dd_manufacturers').empty().append(response.manufacturers_list);
                            $('#filter_favourite').attr('checked', false);
                            $('#filter_in_stock').attr('checked', false);
                            $('#filter_reset_btn').remove();
                            isLoading(false);
                            searchArray = [];
                            categoryArray = [];
                            selectedDistributorArray = [];
                            selectedManufacturerArray = [];
                            favourite = false;
                            inStock = false;
                            document.title = 'Fluid';
                            window.history.pushState({
                                "html": response.html,
                                "pageTitle": 'Fluid'
                            }, "", '{{ app.request.baseUrl }}/clinics/inventory');
                            $.session.set('search_key', keyword);
                        }
                    }
                });
            });

            function getSearchArray()
            {
                searchArray = [];

                searchArray.push({
                    category: categoryArray,
                    selectedDistributors: selectedDistributorArray,
                    distributors: distributorArray,
                    selectedManufacturers: selectedManufacturerArray,
                    manufacturers: manufacturerArray,
                    favourite: favourite,
                    clinicId: clinicId,
                    inStock: inStock,
                });

                return searchArray;
            }

            function unique(list)
            {
                let result = [];
                $.each(list, function(i, e)
                {
                    if ($.inArray(e, result) == -1) result.push(e);
                });
                return result;
            }

            function getSearchResults(pageId, object, shippingList = false, listId = 0, searchArray = [], elementId = '')
            {
                let keyword = $.session.get('search_key') ? $.session.get('search_key') : 'canine';
                let listKeyword = $.session.get('search_key') ? $.session.get('search_key') : 'canine';
                let keywordField = false;
                let pageNo = pageId;
                let className = '';
                let uri = window.location.pathname;
                let isListUri = uri.match('/clinics/inventory/lists');

                $('#paginator').empty().hide();

                if(object != 'undefined' && object != '')
                {
                    className = object.className.substring(10);
                }

                if($('#search_field').val() != '' || $('#search_field').val() != 'undefined')
                {
                    keyword = $('#search_field').val();
                }

                if((object != 'undefined' && object != '') && object.className.substring(23,42) == 'list-back-to-search')
                {
                    keyword = $(object).data('keyword-string');
                    keywordField = true;
                }

                if(className == 'view-list' || isListUri != null)
                {
                    listKeyword = $(object).data('keyword-string');
                }

                if($(object).data('list-id') != '' && $(object).data('list-id') != 'undefined' && listId == 0)
                {
                    listId = $(object).data('list-id');
                }

                $.ajax({
                    async: "true",
                    url: "{{ path('search_inventory') }}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'keyword': keyword,
                        'list-keyword': listKeyword,
                        'list-id': listId,
                        'page-no': pageNo,
                        'page-id': pageId,
                        'search-array': searchArray,
                    },
                    beforeSend: function ()
                    {
                        isLoading(true);

                        $('#main_nav').slideUp(700);
                        window.scrollTo(0, 0);
                    },
                    complete: function(e)
                    {
                        if(e.status === 500)
                        {
                            //window.location.href = '{{ path('clinic_error_500') }}';
                        }
                    },
                    success: function (response)
                    {
                        $('#inventory').empty().append(response.html).show();
                        window.scrollTo(0,0);
                        $('#basket_container').empty().hide();
                        $('#inventory_container').show();
                        $('.has-megamenu').show(700);
                        $('#favourite_label').empty().append('('+ response.favouriteCount +') Favourite Items');
                        $('#in_stock_label').empty().append('('+ response.inStockCount +') In Stock');
                        $('.manage-lists').attr('data-keyword-string', keyword);

                        $(response.productIds).each(function (index, value)
                        {
                            let productId = value;

                            $.ajax({
                                async: "true",
                                url: "{{ path('product_get_distributors') }}",
                                type: 'POST',
                                dataType: 'json',
                                data: {
                                    'product-id': productId,
                                },
                                complete: function (e)
                                {
                                    if (e.status === 500)
                                    {
                                        window.location.href = '{{ path('clinic_error_500') }}';
                                    }
                                },
                                success: function (response)
                                {
                                    $('#search_result_distributors_'+ productId).empty().append(response.html);
                                    $('.from_'+ productId).empty().append(response.from);
                                    $('.basket-id').val($('#btn_basket').attr('data-basket-id'));
                                    popOver();
                                }
                            });
                        });

                        // Category Levels
                        if(response.level == 3)
                        {
                            let categoryId = $.map(categoryArray, function(cat) {
                                return cat.categoryId[0];
                            });

                            $('#dd_categories').find('.category-select').each(function ()
                            {
                                $(this).find('label').css('font-weight', '');
                                $('#megamenu').hide(700);
                            });

                            $('*[data-category-id="'+ categoryId +'"]').find('label').css('font-weight', 'bold');
                        }
                        else
                        {
                            $('#dd_categories').empty().append(response.categoryList);
                            $('#dd_distributors').empty().append(response.distributorsList);
                            $('#dd_manufacturers').empty().append(response.manufacturersList);
                        }

                        if(elementId == 'search_btn')
                        {
                            {# Manufacrurer Filter List #}
                            manufacturerArray = [];

                            $('.manufacturer-checkbox').each(function ()
                            {
                                let manufacturer = $(this).next().text().trim().substring(4);
                                let manufacturerId = $(this).val();
                                let itemCount = $(this).next().text().trim().substring(1,2);

                                manufacturerArray.push({
                                    'id': manufacturerId,
                                    'name': manufacturer,
                                    'count': itemCount,
                                });
                            });

                            {# Distributor Filter List #}
                            distributorArray = [];

                            $('.distributor-checkbox').each(function ()
                            {
                                let distributor = $(this).next().text().trim().substring(4);
                                let distributorId = $(this).val();
                                let itemCount = $(this).next().text().trim().substring(1,2);

                                distributorArray.push({
                                    'id': distributorId,
                                    'name': distributor,
                                    'count': itemCount,
                                });
                            });
                        }

                        if(className == 'view-list' || listId > 0 || isListUri != null)
                        {
                            if(listKeyword == '' || listKeyword == 'undefined')
                            {
                                listKeyword = $.session.get('search_key');
                            }

                            getListBackButton(listKeyword, listId);
                            window.history.pushState(null, "Fluid", '/clinics/inventory/list/' + listId);
                        }
                        else
                        {
                            window.history.pushState(null, "Fluid", '/clinics/inventory');
                        }

                        if(keywordField)
                        {
                            $('#search_field').val(keyword)
                        }

                        isLoading(false);

                        if(keyword != '' || keyword != 'undefined')
                        {
                            $.session.set('search_key', keyword);
                        }

                        let popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
                        let popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                            return new bootstrap.Popover(popoverTriggerEl);
                        });
                    }
                });
            }

            $(document).on('click','.back-to-search', function (e)
            {
                e.preventDefault();

                $('.review_panel').hide();
                $('.search-panels-container').hide();
                $('#basket_container').empty().hide();
                $('#back_btn').addClass('d-none').removeClass('d-flex');
                $('#inventory').show();
                $('#inventory_container').show();
            });
            $(document).on('click', '.close-filter', function ()
            {
                $('#megamenu').slideUp(700);
            });
            function getBackButton(){

                // let button = '<div class="col-12">';
                // button += '<button class="btn btn-sm btn-primary back-to-search mb-3 w-sm-100 w-auto">';
                // button += '<i class="fa-solid fa-circle-chevron-left me-3"></i>Back To Search</button>';
                // button += '</div>';

                //$('#back_btn').empty().append(button).removeClass('d-none').addClass('d-flex');
            }
            function getListBackButton(keyword, list_id)
            {
                let button = '<div class="row">';
                button += '<div class="col-12">';
                button += '<button data-keyword-string="'+ keyword +'" data-keyword-string="'+ list_id +'" class="btn btn-sm btn-primary list-back-to-search mb-3 w-sm-100 w-auto">';
                button += '<i class="fa-solid fa-circle-chevron-left me-3"></i>Back To Search</button>';
                button += '</div>';
                button += '</div>';

                $('#inventory').prepend(button);
            }
            {# End Inventory Search #}

            function getFlash(flash)
            {
                $('#flash').addClass('alert-success').removeClass('alert-danger').addClass('alert').addClass('text-center');
                $('#flash').removeClass('users-flash').addClass('users-flash').empty().append(flash).removeClass('hidden');

                setTimeout(function()
                {
                    $('#flash').removeClass('alert-success').removeClass('alert').removeClass('text-center');
                    $('#flash').removeClass('users-flash').empty().addClass('hidden');
                }, 5000);
            }

            {# Get Basket #}
            $(document).on('click', '.distributor-clinic-connect', function (e) {

                e.preventDefault();

                let distributorId = $(this).data('distributor-id');
                let clinicId = $(this).data('clinic-id');
                let productId = $(this).data('product-id');

                $.ajax({
                    async: "true",
                    url: "{{ path('clinic_request_connection') }}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'distributor-id':distributorId,
                        'clinic-id': clinicId
                    },
                    beforeSend: function () {
                        isLoading(true);
                    },
                    complete: function(e, xhr, settings){
                        if(e.status === 500){
                            window.location.href = '{{ path('clinic_error_500') }}';
                        }
                    },
                    success: function (response) {

                        $('#modal_add_to_basket_'+ productId +'_'+ distributorId).modal('toggle');
                        getFlash(response);
                        isLoading(false);
                    }
                });
            });
            {# End Get Basket #}

            let product_id = 0;

            {# Tracking #}
            $('#notifications_panel').hide();
            function getNotifications(){
                $.ajax({
                    url:"{{ path('get_notifications') }}",
                    type: 'POST',
                    cache:false,
                    timeout:10000,
                    dataType: 'json',
                    success: function(response) {

                        $('#notifications_panel').empty().append(response);
                    }
                });
            };

            $(document).on('click', 'a', function (){

                let name = $(this).attr('name');

                if(name != 'notifications'){

                    $('#notifications_panel').hide();
                }

            });

            $(document).on('click', '.btn-notifications', function (e){

                e.preventDefault();
                getNotifications();

                $('#notifications_panel').slideToggle();
            });
            $(document).on('click', '.delete-notification', function (e){

                e.preventDefault();

                let notificationId = $(this).data('notification-id');

                $.ajax({
                    async: "true",
                    url: "{{ path('delete_notifications') }}",
                    type: 'POST',
                    cache: false,
                    timeout: 600000,
                    dataType: 'json',
                    data: {
                        'notification-id': notificationId,
                        'type': 'clinic',
                    },
                    success: function (response) {

                        getFlash(response.flash);
                        getNotifications();
                    }
                });
            });
            $(document).on('click', '.notification-panel', function (e){

                e.preventDefault();

                let notificationId = $(this).data('notification-id');

                $.ajax({
                    async: "true",
                    url: "{{ path('delete_notifications') }}",
                    type: 'POST',
                    cache: false,
                    timeout: 600000,
                    dataType: 'json',
                    data: {
                        'notification-id': notificationId,
                        'type': 'clinic',
                    },
                    success: function (response) {

                        getNotifications();
                    }
                });
            });

            function getNotifications(){

                $.ajax({
                    async: "true",
                    url: "{{ path('get_order_notification') }}",
                    type: 'GET',
                    cache: false,
                    timeout: 600000,
                    dataType: 'json',
                    data: {
                        'type': 'clinic',
                        'id': '{{ app.user.clinic.id|default(0) }}'
                    },
                    success: function (response) {

                        if(response.count > 0){

                            $('#notifications_icon').addClass('text-secondary');

                        } else {

                            $('#notifications_icon').removeClass('text-secondary');
                        }

                        $('#notifications_panel').empty().append(response.alert);
                    }
                });
            }
            setInterval(getNotifications, 1000);
            {# Close Notifications #}
            {# End Tracking #}


            {# Analytics #}
            function getAnalytics(){

                $('#back_btn').remove();
                $('#inventory_container').hide();
                $('#basket_container').show();
                isLoading(true);
                $("#basket_container").load('{{ path('get_clinic_charts') }}');
                isLoading(false);
                window.history.pushState(null, "Fluid", '/clinics/analytics');
            }
            $('#analytics_link').click(function (e) {

                e.preventDefault();
                getAnalytics();
                hidePaginator();

            });
            {# Ebd Analytics #}

            {# Addresses #}
            $(document).on('click', '.address-pagination', function (e){

                // e.preventDefault();
                //
                // page_id = $(this).data('page-id');
                //
                // getAddresses(page_id);
            });
            $(document).on('submit', '#form_addresses_shipping_checkout', function(e){

                e.preventDefault();

                let data = new FormData(this);
                let address_id = data.get('address');

                if(address_id == null) {

                    let is_valid = true;
                    let clinic_name = $('#address_clinic_name').val()
                    let telephone = $('#address_telephone').val();
                    let address_line_1 = $('#address_line_1').val();
                    let postal_code = $('#address_postal_code').val();
                    let city = $('#address_city').val();
                    let state = $('#address_state').val();
                    let type = $('#address_type').val();
                    let error_clinic_name = $('#error_address_clinic_name');
                    let error_telephone = $('#error_address_telephone');
                    let error_address_line_1 = $('#error_address_line_1');
                    let error_postal_code = $('#error_address_postal_code');
                    let error_city = $('#error_address_city');
                    let error_state = $('#error_address_state');
                    let error_type = $('#error_address_type');

                    error_clinic_name.hide();
                    error_telephone.hide();
                    error_address_line_1.hide();
                    error_postal_code.hide();
                    error_city.hide();
                    error_state.hide();
                    error_type.hide();

                    if (clinic_name == '' || clinic_name == 'undefined') {

                        error_clinic_name.show();
                        is_valid = false;
                    }

                    if (telephone == '' || telephone == 'undefined') {

                        error_telephone.show();
                        is_valid = false;
                    }

                    if (address_line_1 == '' || address_line_1 == 'undefined') {

                        error_address_line_1.show();
                        is_valid = false;
                    }

                    if (city == '' || city == 'undefined') {

                        error_city.show();
                        is_valid = false;
                    }

                    if (postal_code == '' || postal_code == 'undefined') {

                        error_postal_code.show();
                        is_valid = false;
                    }

                    if (state == '' || state == 'undefined') {

                        error_state.show();
                        is_valid = false;
                    }

                    if (type == '' || type == 'undefined') {

                        error_type.show();
                        is_valid = false;
                    }

                    if (is_valid == true) {



                        $.ajax({
                            async: "true",
                            url: "{{ path('update_address') }}",
                            type: 'POST',
                            contentType: false,
                            processData: false,
                            cache: false,
                            timeout: 600000,
                            dataType: 'json',
                            data: data,
                            success: function (response) {

                                $('#checkout_shipping_address').empty().append(response.checkout_address);
                                $('#modal_shipping_address').modal('toggle');
                                $('.modal-backdrop').removeClass('modal-backdrop');
                                $('#modal_shipping_address').addClass('fade');
                                $('#basket_container').css({overflow: "auto"});
                                $('#address_clinic_name').val('');
                                $('#address_telephone').val('');
                                $('#address_line_1').val('');
                                $('#address_suite').val('');
                                $('#address_postal_code').val('');
                                $('#address_city').val('');
                                $('#address_state').val('');
                                $('#shipping_address_id').val(response.checkout_address_id);
                            }
                        });
                    }
                } else {

                    $.ajax({
                        async: "true",
                        url: "{{ path('get_address') }}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            id: address_id
                        },
                        success: function (response) {

                            $('#modal_shipping_address').modal('toggle');
                            $('#basket_container').css({overflow: "auto"});
                            $('#shipping_address_id').val(address_id);
                            $('#checkout_shipping_address').empty().append(response.address);
                        }
                    });
                }
            });
            $(document).on('submit', '#form_addresses_billing_checkout', function(e){

                e.preventDefault();

                let data = new FormData(this);
                let address_id = data.get('address');

                if(address_id == null) {

                    let is_valid = true;
                    let clinic_name = $('#address_clinic_name').val();
                    let telephone = $('#address_telephone').val();
                    let address_line_1 = $('#address_line_1').val();
                    let type = $('#address_type').val();
                    let error_clinic_name = $('#error_address_clinic_name');
                    let error_telephone = $('#error_address_telephone');
                    let error_address_line_1 = $('#error_address_line_1');
                    let error_type = $('#error_address_type');

                    error_clinic_name.hide();
                    error_telephone.hide();
                    error_address_line_1.hide();
                    error_type.hide();

                    if(clinic_name == '' || clinic_name == 'undefined'){

                        error_clinic_name.show();
                        is_valid = false;
                    }

                    if(telephone == '' || telephone == 'undefined'){

                        error_telephone.show();
                        is_valid = false;
                    }

                    if(address_line_1 == '' || address_line_1 == 'undefined'){

                        error_address_line_1.show();
                        is_valid = false;
                    }

                    if(type == '' || type == 'undefined'){

                        error_type.show();
                        is_valid = false;
                    }

                    if (is_valid == true) {

                        $("<input />").attr("type", "hidden").attr("name", "page_id").attr("value", $('#page_no').val()).appendTo("#form_addresses");

                        let data = new FormData(this);

                        $.ajax({
                            async: "true",
                            url: "{{ path('update_address') }}",
                            type: 'POST',
                            contentType: false,
                            processData: false,
                            cache: false,
                            timeout: 600000,
                            dataType: 'json',
                            data: data,
                            beforeSend: function (){
                              isLoading(true);
                            },
                            success: function (response) {

                                $('#checkout_billing_address').empty().append(response.checkout_address);
                                $('#modal_billing_address').modal('toggle');
                                $('#basket_container').css({overflow: "auto"});
                                $('#address_clinic_name').val('');
                                $('#address_telephone').val('');
                                $('#address_mobile').val('');
                                $('#address_line_1').val('');
                                $('#billing_address_id').val(response.checkout_address_id);
                                isLoading(false);
                            }
                        });
                    }
                } else {

                    let data = new FormData(this);
                    let id = data.get('address');

                    $.ajax({
                        async: "true",
                        url: "{{ path('get_address') }}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            id: id
                        },
                        success: function (response) {
                            $('#modal_billing_address').modal('toggle');
                            $('#basket_container').css({overflow: "auto"});
                            $('#billing_address_id').val(id);
                            $('#checkout_billing_address').empty().append(response.address);
                        }
                    });


                }
            });
            $(document).on('click', '#link_shipping_address_modal', function (){

                $.ajax({
                    async: "true",
                    url: "/clinics/get-address-modal/2",
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        $('#billing_address_modal').empty();
                        $('#shipping_address_modal').empty().append(response.modal);
                        $('#address_type').attr('readonly', true);
                        $('#option_shipping').attr('selected', true);
                        $('#modal_header_address').empty()
                            .append('<h5 class="modal-title" id="address_modal_label">Use an Existing Address</h5>')
                            .append('<span class="badge bg-success ms-3 toggle_address" role="button">Create A New Address</span>')
                            .append('<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>');
                        $('.modal-body-address-new').hide();
                        $('.modal-body-address-existing').show();

                        let input = document.querySelector("#address_mobile");

                        iti = window.intlTelInput(input, {
                            preferredCountries: ['ae','qa', 'bh', 'om', 'sa'],
                            initialCountry: response.iso_code,
                            autoPlaceholder: "polite",
                            nationalMode: true,
                            utilsScript: "{{ asset('js/utils.min.js') }}", // just for formatting/placeholders etc
                            separateDialCode: true,
                            utilsScript: "/js/utils.js",
                        });
                    }
                });
            });
            $(document).on('click', '#link_billing_address_modal', function (){

                $.ajax({
                    async: "true",
                    url: "/clinics/get-address-modal/1",
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        $('#shipping_address_modal').empty();
                        $('#billing_address_modal').empty().append(response.modal);
                        $('#modal_header_address').empty()
                            .append('<h5 class="modal-title" id="address_modal_label">Use an Existing Address</h5>')
                            .append('<span class="badge bg-success ms-3 toggle_address" role="button">Create A New Address</span>')
                            .append('<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>');
                        $('.modal-body-address-new').hide();
                        $('.modal-body-address-existing').show();

                        let input = document.querySelector("#address_mobile");

                        iti = window.intlTelInput(input, {
                            preferredCountries: ['ae','qa', 'bh', 'om', 'sa'],
                            initialCountry: response.iso_code,
                            autoPlaceholder: "polite",
                            nationalMode: true,
                            utilsScript: "{{ asset('js/utils.min.js') }}", // just for formatting/placeholders etc
                            separateDialCode: true,
                            utilsScript: "/js/utils.js",
                        });
                    }
                });
            });
            $(document).on('click', '#btn_map_checkout_shipping', function (){
                let visible = $('#address_map').is(":visible");
                let width = $(window).width();
                let modal_height = $('#modal_shipping_address .modal-body').height();
                $('#address_map').toggle(700);

                if(visible == false){

                    let height = $('#modal_shipping_address .modal-body').height();
                    $.session.set('modal_height', height);

                    if(width < 579) {

                        $('#modal_shipping_address .modal-body').css('height', (modal_height + 570));

                    } else {

                        $('#modal_shipping_address .modal-body').css('height',(modal_height + 370));
                    }

                } else {

                    $('#modal_shipping_address .modal-body').css('height', $.session.get('modal_height'));
                }
            });
            $(document).on('click', '#btn_map_checkout_billing', function (){
                let visible = $('#address_map').is(":visible");
                let width = $(window).width();
                let modal_height = $('#billing_address_modal .modal-body').height();
                $('#address_map').toggle(700);

                if(visible == false){

                    let height = $('#billing_address_modal .modal-body').height();
                    $.session.set('modal_height', height);

                    if(width < 579) {

                        $('#billing_address_modal .modal-body').css('height', (modal_height + 570));

                    } else {

                        $('#billing_address_modal .modal-body').css('height',(modal_height + 370));
                    }

                } else {

                    $('#billing_address_modal .modal-body').css('height', $.session.get('modal_height'));
                }
            });
            {# End Addresses #}

            {# Species #}
            $(document).on('click', '.species-checkbox', function (){

                let checkbox = $(this);

                if(checkbox.is(':checked')) {

                    checkbox.attr('checked', true);
                    $(this).next('.custom-control-label').find('.species-icon').removeClass('fa-light').addClass('fa-solid');

                } else {

                    checkbox.attr('checked', false);
                    $(this).next('.custom-control-label').find('.fa-solid').removeClass('fa-solid').addClass('fa-light');
                }
            });
            {# End Species #}

            {# Menu Drop Downs #}
            if ($(window).width() < 769){

                $('#dd_categories').hide();
                $('#dd_filters').hide();
                $('#dd_manufacturers_1').hide();
                $('#dd_manufacturers_2').hide();
                $('#dd_distributors').hide();

            } else {

                //$('#megamenu').addClass('pb-3')
            }

            let dropdowns = ''

            $('#btn_categories').click(function (e){

                e.preventDefault();
                $('#dd_categories').toggle(700,'linear');
            });
            $('#btn_filters').click(function (e){

                e.preventDefault();
                $('#dd_filters').toggle(700,'linear');
            });
            $('#btn_manufacturers').click(function (e){

                e.preventDefault();
                $('#dd_manufacturers_1').toggle(700,'linear');
                $('#dd_manufacturers_2').toggle(700,'linear');
            });
            $('#btn_distributors').click(function (e){

                e.preventDefault();
                $('#dd_distributors').toggle(700,'linear');
            });
            {# End Mebu Drop Downs #}

            function resetFilterBtn(){

                let btn_reset = '<div class="col-12" id="filter_reset_btn"><button type="button" class="btn bg-secondary btn-sm w-100 border-top">';
                btn_reset += '<i class="fa-solid fa-rotate me-1" role="button"></i>Reset Filters</button></div>';

                $('#filter_reset_btn').remove();
                $('#filter_megamenu').append(btn_reset);
            }

            {# Account Menu Toggle #}
            $(document).mouseup(function(e) {

                let container = $('#account_menu');

                // if the target of the click isn't the container nor a descendant of the container
                let displayValue = $('#account_menu').get(0).style.display;

                if(displayValue == 'block'){

                    isLoading(true);
                    container.hide(700);

                }
            });
            $(document).on('click', '.account-dropdown-toggle', function(e) {

                let container = $('#account_menu');

                // if the target of the click isn't the container nor a descendant of the container
                let displayValue = $('#account_menu').get(0).style.display;

                if(displayValue == 'block'){

                    container.hide(700);

                } else {

                    container.show(700);
                }
            });

            {# Filter Menu Toggle #}
            $(document).mouseup(function(e) {

                let container = $('#megamenu');

                // if the target of the click isn't the container nor a descendant of the container
                let displayValue = $('#megamenu').get(0).style.display;

                if(displayValue == 'block'){

                    container.slideUp(700);

                }
            });
            $(document).on('click', '.filter-dropdown-toggle', function(e) {

                let container = $('#megamenu');

                // if the target of the click isn't the container nor a descendant of the container
                let displayValue = $('#megamenu').get(0).style.display;

                if(displayValue == 'block'){

                    //container.slideUp(700);

                } else {

                    container.slideDown(700);
                }
            });
        });

        function selectProductListItem(id, name)
        {
            if (id > 0) {

                $.ajax({
                    type: "POST",
                    url: "{{ path('clinic_inventory_get_data') }}",
                    data: {
                        'product-id': id,
                    },
                    success: function (response)
                    {
                        $("#suggestion_field").show();
                        $("#suggestion_field").html(response);
                        $('#product_id').val(id);
                        $('#distributor_id').empty().append(response.distributors);
                        $('option[value="'+ response.distributorId +'"]').prop("selected", true);
                        $('#unit').val(response.unit);
                        $('#sku').val(response.sku);
                        $('#cost_price').val(response.costPrice);
                        $('#your_price').val(response.unitPrice);
                        $('#dosage').val(response.dosage);
                        $('#size').val(response.size);
                        $('#active_ingredient').val(response.activeIngredient);
                        $('#product_name').empty();
                        $('#product_name').append(name + response.dosage + response.unit + response.size);
                        $('#inventory_item').slideDown(700);
                    }
                });

                $("#search_inventory_field").val(name);
                $("#suggestion_field").hide();
            }
        }

        function getProductDistributors(productId, listId)
        {
            if (productId > 0)
            {
                $.ajax({
                    async: "true",
                    url: "{{ path('inventory_get_list_modal') }}",
                    type: 'POST',
                    cache: false,
                    timeout: 600000,
                    dataType: 'json',
                    data: {
                        'product-id': productId,
                        'list-id': listId

                    },
                    success: function (response)
                    {
                        $('#modal_list_distributors').remove();
                        $('#basket_container').append(response);
                        $('#modal_list_distributors').modal('toggle');
                        //$('#save_list_distributor').attr('data-favourite','false');
                        $('body').css('overflow', '');
                    }
                });

                $("#search_inventory_field").val(name);
                $("#suggestion_field").hide();
            }
        }

        {# Popovers #}
        function popOver() {
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl)
            })
        }

        {# Hide Paginator #}
        function hidePaginator(){

            $('#paginator').empty().hide();
        }

        {# Clode Flash Message #}
        $('#flash').click(function (){
            $('#flash').addClass('hidden');
        });
    </script>
{% endblock %}