{% extends 'layout_clinic.html.twig' %}

{% block meta_title %}Fluid Inventory Search{% endblock %}

{% block meta_decription %}
    <meta name="description" content="">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="hidden users-flash m-0 save-all-items" id="flash"></div>
    <div
        class="container-xl mt-2 mt-sm-5 mb-1 mb-sm-5"
        id="clinic_container"
        data-controller="orders--clinics products--search products--lists basket--basket products--reviews products--notes products--details clinics--inventory clinics--account-settings clinics--addresses clinics--users clinics--communication-methods products--tracking clinics--analytics clinics--miscellaneous"
    >
    </div>

    <div class="overlay"></div>
    <div class="spanner">
        <div class="loader"></div>
        <p class="text-light fw-bold" style="font-size: 36px;">Loading...</p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#btn_basket').attr('data-basket-id', {{ basket_id }});

        $(document).ready(function ()
        {
            $.session.set('permissions', '{{ permissions }}');
            $.session.set('clinic-id', '{{ clinic_id|default(0) }}');
            $.session.set('trade-license', '{{ clinic.tradeLicense }}' ? '{{ clinic.tradeLicense }}' : false);

            $(document).on('click', '.dropdown-item, #btn_basket', function ()
            {
                $('#main_nav').slideUp();
                $('#account_menu').slideUp();
            });
        });
    </script>
{% endblock %}