<nav class="navbar navbar-expand-lg navbar-light bg-white position-fixed top-0 start-0 end-0 nav-z-index border-bottom">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="main_nav">
            <div class="navbar nav">
                <a href="{{ path('clinic_orders_list', {'clinic_id':app.user.clinic.id }) }}">
                    <img src="{{ asset('images/logo.png') }}" class="img-fluid" style="max-height: 60px">
                </a>
            </div>
            <div class="navbar-nav mx-0 mx-md-auto w-sm-100-md-50">
                <form name="search_form" class="w-100" id="search_form" method="post">
                    <ul class="navbar-nav">
                        <li class="nav-item" style="flex-grow: 100">
                            <div class="input-group mt-3 mt-md-0">
                                <input type="text" id="search_field" class="form-control form-control-bg-grey" placeholder="Search by item, sku, manufacturer, ingredient, size..." />
                                <button type="submit" class="btn btn-secondary btn-sm" id="search_btn">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </li>
                        <li class="nav-item dropdown has-megamenu pt-2 pb-1 pt-sm-0 pb-sm-0 hidden">
                            <a class="nav-link filter-dropdown-toggle" href="#">Filters</a>
                            <div class="dropdown-menu megamenu mega-menu pb-0 pt-sm-3 mt-3 px-0" role="menu" id="megamenu">
                                <span class="position-absolute close-filter" style="right: 10px; top:10px">
                                    <i class="fa-solid fa-xmark"></i>
                                </span>
                                <div class="row" id="filter_megamenu">
                                    {# Categories #}
                                    <div class="col-12 col-sm-6 col-md-2 mt-0 ps-4 pb-3 offset-md-2">
                                        <div class="col-megamenu">
                                            <ul class="navbar-nav ms-auto ms-md-auto ms-sm-0">
                                                <li class="nav-item dropdown">
                                                    <a
                                                        class="nav-link dropdown-toggle text-primary"
                                                        href=""
                                                        id="btn_categories"
                                                    >
                                                        <h6 class="title d-inline">Category</h6>
                                                    </a>
                                                    <ul class="border-0 px-0 list-unstyled" id="dd_categories">
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>  <!-- col-megamenu.// -->
                                    </div>
                                    {# Favourites Promotions In Stock #}
                                    <div class="col-12 col-sm-6 col-md-2 mt-0 pb-3 ps-4 ps-md-0">
                                        <div class="col-megamenu">
                                            <ul class="navbar-nav ms-auto ms-md-auto ms-sm-0">
                                                <li class="nav-item dropdown">
                                                    <a
                                                        class="nav-link  dropdown-toggle text-primary"
                                                        href=""
                                                        id="btn_filters"
                                                    >
                                                        <h6 class="title d-inline">Filters</h6>
                                                    </a>
                                                    <ul class="border-0 px-0 list-unstyled" id="dd_filters">
                                                        <li class="pb-2 pb-md-0 favourite-select">
                                                            <input
                                                                class="form-check-input me-2"
                                                                name="filter[]"
                                                                type="checkbox"
                                                                value="favourite"
                                                                id="filter_favourite"
                                                            >
                                                            <label
                                                                class="form-check-label"
                                                                for="filter_favourite"
                                                                id="favourite_label"
                                                            >Favourite Items</label>
                                                        </li>
                                                        <li class="pt-2 pb-2 pt-md-0 pt-md-0 in-stock-select">
                                                            <input
                                                                class="form-check-input me-2"
                                                                name="filter[]"
                                                                type="checkbox"
                                                                value="in-stock"
                                                                id="filter_in_stock"
                                                            >
                                                            <label
                                                                class="form-check-label"
                                                                for="filter_in_stock"
                                                                id="in_stock_label"
                                                            >In Stock</label>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    {# Manufacturers #}
                                    <div class="col-6 col-sm-6 col-md-2 mt-0 pb-3 ps-4 ps-md-0">
                                        <div class="col-megamenu">
                                            <a
                                                class="nav-link dropdown-toggle text-primary ps-0"
                                                href=""
                                                id="btn_manufacturers"
                                            >
                                                <h6 class="title d-inline">Manufacturers</h6>
                                            </a>
                                            <ul class="border-0 px-0 list-unstyled" id="dd_manufacturers">
                                            </ul>
                                        </div>
                                    </div>
                                    {# Distributors #}
                                    <div class="col-12 col-sm-6 col-md-2 mt-0 pb-3 ps-4 ps-md-0">
                                        <div class="col-megamenu">
                                            <a
                                                class="nav-link dropdown-toggle text-primary ps-0"
                                                href=""
                                                id="btn_distributors"
                                            >
                                                <h6 class="title d-inline">Distributor</h6>
                                            </a>
                                            <ul class="border-0 px-0 list-unstyled" id="dd_distributors">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="navbar-nav">
                <ul class="navbar-nav ms-auto ms-md-auto ms-sm-0">
                    <li class="nav-item pt-1 pb-1 pt-sm-0 pb-sm-0 text-truncate">
                        <a class="nav-link basket-link" data-basket-id="" id="btn_basket" href="#">
                            <i class="fa-regular fa-basket-shopping pe-2 fa-width text-primary"></i>
                            <span class="d-sm-inline-block d-sm-none d-md-inline-block">Basket</span>
                        </a>
                    </li>
                    <li class="nav-item position-relative pt-1 pb-1 pt-sm-0 pb-sm-0">
                        <a class="nav-link btn-notifications text-truncate" name="notifications" href="#">
                            <i class="far fa-bell pe-2 fa-width" id="notifications_icon"></i>
                            <span class="">Notifications</span>
                        </a>
                        <span id="notifications_panel" class="position-absolute end-0">
                            <span class="notification-panel delete-notification">You have no notifications</span>
                        </span>
                    </li>
                    <li class="nav-item dropdown pt-1 pb-1 pt-sm-0 pb-sm-0">
                        <a class="nav-link  dropdown-toggle account-dropdown-toggle" href="{{ path('clinics_logout') }}" data-bs-toggle="dropdown">
                            <i class="far fa-user pe-2 fa-width text-primary"></i>
                            {{ nzo_decrypt(clinic.clinicName) }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" id="account_menu" style="min-width: 250px">
                            {% if 3 or 4 in permissions %}
                                {% set opening_tag = 'a href="#"' %}
                                {% set closing_tag = 'a' %}
                                {% set class = 'dropdown-item manage-lists' %}
                                {% set id = 'analytics_link' %}
                            {% else %}
                                {% set opening_tag = 'span' %}
                                {% set closing_tag = 'span' %}
                                {% set class = 'text-disabled dropdown-item-disabled' %}
                                {% set id = '' %}
                            {% endif %}
                            <li class="pt-1 pb-1 pt-md-0 pb-md-0">
                                <{{ opening_tag}} class="dropdown-item orders_link" data-clinic-id="{{ clinic_id }}" id="orders_link">
                                    <i class="fa-regular fa-file-invoice pe-2 fa-width"></i>
                                    Orders
                                </{{ opening_tag }}>
                            </li>
                            <li class="pt-1 pb-1 pt-md-0 pb-md-0">
                                <{{ opening_tag}} href="#" class="{{ class }}" data-keyword-string="" id="orders_link">
                                    <i class="fa-regular fa-cart-flatbed-boxes pe-2 fa-width"></i>
                                    Order Lists
                                </{{ opening_tag }}>
                            </li>
                            {% if 7 in permissions %}
                                {% set opening_tag = 'a href="#"' %}
                                {% set closing_tag = 'a' %}
                                {% set class = 'dropdown-item' %}
                                {% set id = 'analytics_link' %}
                            {% else %}
                                {% set opening_tag = 'span' %}
                                {% set closing_tag = 'span' %}
                                {% set class = 'text-disabled dropdown-item-disabled' %}
                                {% set id = '' %}
                            {% endif %}
                            <li class="pt-0 pb-1 pb-md-0">
                                <{{ opening_tag}} href="#" class="dropdown-item analytics_link {{ class }}" data-clinic-id="{{ clinic_id }}" id="{{ id }}">
                                    <i class="fa-regular fa-chart-pie pe-2 fa-width"></i>
                                    Analytics
                                </{{ closing_tag }}>
                            </li>

                            {# Divider #}
                            <li class="py-0 px-3">
                                <hr>
                            </{{ closing_tag }}>
                            </li>

                            {# Company Information #}
                            {% if 10 in permissions %}
                                {% set opening_tag = 'a href="#"' %}
                                {% set closing_tag = 'a' %}
                                {% set class = 'dropdown-item' %}
                                {% set id = 'account_settings_link' %}
                            {% else %}
                                {% set opening_tag = 'span' %}
                                {% set closing_tag = 'span' %}
                                {% set class = 'text-disabled dropdown-item-disabled' %}
                                {% set id = '' %}
                            {% endif %}
                            <li class="pt-1 pb-1 pt-md-0 pb-md-0">
                                <{{ opening_tag }} href="#" class="{{ class }}" id="{{ id }}">
                                    <i class="fa-regular fa-screwdriver-wrench pe-2 fa-width"></i>
                                    Company Information
                                </{{ closing_tag }}>
                            </li>

                            {# Addresses #}
                            {% if 12 in permissions %}
                                {% set opening_tag = 'a href="#"' %}
                                {% set closing_tag = 'a' %}
                                {% set class = 'dropdown-item' %}
                                {% set id = 'addresses_link' %}
                            {% else %}
                                {% set opening_tag = 'span' %}
                                {% set closing_tag = 'span' %}
                                {% set class = 'text-disabled dropdown-item-disabled' %}
                                {% set id = '' %}
                            {% endif %}
                            <li class="pt-1 pb-1 pt-md-0 pb-md-0">
                                <{{ opening_tag }} href="#" class="{{ class }}" id="{{ id }}">
                                <i class="fa-regular fa-address-book pe-2 fa-width"></i>
                                Addresses
                            </{{ closing_tag }}>
                            </li>

                            {# Users #}
                            {% if 6 in permissions %}
                                {% set opening_tag = 'a href="#"' %}
                                {% set closing_tag = 'a' %}
                                {% set class = 'dropdown-item' %}
                                {% set id = 'users_link' %}
                            {% else %}
                                {% set opening_tag = 'span' %}
                                {% set closing_tag = 'span' %}
                                {% set class = 'text-disabled dropdown-item-disabled' %}
                                {% set id = '' %}
                            {% endif %}
                            <li class="pt-1 pb-1 pt-md-0 pb-md-0">
                                <{{ opening_tag }} href="#" class="dropdown-item {{ class }}" id="{{ id }}">
                                    <i class="fa-regular fa-user-gear pe-2 fa-width"></i>
                                    Users
                                </{{ closing_tag }}>
                            </li>

                            {# Communication Methods #}
                            {% if 13 in permissions %}
                                {% set opening_tag = 'a href="#"' %}
                                {% set closing_tag = 'a' %}
                                {% set class = 'dropdown-item' %}
                                {% set id = 'communication_methods_link' %}
                            {% else %}
                                {% set opening_tag = 'span' %}
                                {% set closing_tag = 'span' %}
                                {% set class = 'text-disabled dropdown-item-disabled' %}
                                {% set id = '' %}
                            {% endif %}
                            <li class="pt-1 pb-1 pt-md-0 pb-md-0">
                                <{{ opening_tag }} href="#" class="{{ class }}" id="{{ id }}">
                                    <i class="fa-regular fa-microphone pe-2 fa-width"></i>
                                    Communication Methods
                                </{{ closing_tag }}>
                            </li>
                            <li class="pt-1 pb-1 pt-md-0 pb-md-0">
                                <a href="{{ path('clinics_logout') }}" class="dropdown-item">
                                    <i class="fa-regular fa-ban pe-2 fa-width"></i>
                                    Sign Out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div> <!-- navbar-collapse.// -->
    </div> <!-- container-fluid.// -->
</nav>