{% extends 'layout_distributor.html.twig' %}

{% block title %}Hello DistributorsController!{% endblock %}

{% block body %}
    <div class="hidden users-flash mb-0" id="flash"></div>
    <div class="container-fluid pe-sm-4">
        <div class="row flex-nowrap">
            <div class="col-2 col-sm-2 col-md-3 col-xl-2 px-sm-2 px-0 bg-light border-right distributor-left-col">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 text-truncate overflow-hidden">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100 mt-4" id="menu">
                        <li class="nav-item py-3 w-100" data-controller="distributors--distributor-clinics">
                            {% if distributor.isApproved == 1 %}
                                {% set tag = 'a' %}
                                {% set id = 'customers_link' %}
                                {% set disabled = '' %}
                            {% else %}
                                {% set tag = 'span' %}
                                {% set id = '' %}
                                {% set disabled = 'text-disabled' %}
                            {% endif %}
                            <{{ tag }}
                                href="#"
                                class="align-middle px-0 text-primary nav-icon text-truncate {{ disabled }}"
                                id="{{ id }}"
                                data-action="distributors--distributor-clinics#onClickCustomersLink"
                            >
                                <i class="fa-regular fa-users fa-fw"></i>
                                <span class="ms-1 d-none d-sm-inline">Customers</span>
                            </{{ tag }}>
                        </li>
                        <li class="w-100" data-controller="distributors--my-account distributors--users">
                            <a
                                href="#submenu1"
                                data-bs-toggle="collapse"
                                class="px-0 align-middle text-primary collapsed text-center text-sm-start nav-icon mb-3 text-truncate dropdown-link"
                                aria-expanded="false"
                            >
                                <i class="fa-regular fa-user-gear fa-fw"></i>
                                <span class="ms-1 d-none d-sm-inline">My Account</span>
                                <span class="float-end d-none d-sm-inline">
                                    <i class="fa-solid fa-caret-right"></i>
                                </span>
                            </a>
                            <ul class="nav flex-column collapse" id="submenu1" data-bs-parent="#menu" style="">
                                <li class="w-100 mb-3">
                                    {% if 10 in permissions %}
                                        <a
                                            href="#"
                                            class="align-middle text-primary nav-icon text-truncate"
                                            id="account_settings_link"
                                            data-action="distributors--my-account#onClickCompanyInformation"
                                        >
                                            <i class="fa-regular fa-screwdriver-wrench fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Company Information</span>
                                        </a>
                                    {% else %}
                                        <span class="align-middle text-primary nav-icon text-truncate text-disabled">
                                            <i class="fa-regular fa-screwdriver-wrench fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Company Information</span>
                                        </span>
                                    {% endif %}
                                </li>
                                <li class="w-100 mb-3">
                                    {% if 15 in permissions and distributor.isApproved == 1 %}
                                        <a
                                            href="#"
                                            class="align-middle text-primary nav-icon text-truncate"
                                            id="about_link"
                                            data-action="click->distributors--my-account#onClickAbout"
                                        >
                                            <i class="fa-regular fa-circle-question fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">About</span>
                                        </a>
                                    {% else %}
                                        <span class="align-middle text-primary nav-icon text-truncate text-disabled">
                                            <i class="fa-regular fa-circle-question fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">About</span>
                                        </span>
                                    {% endif %}

                                </li>
                                <li class="w-100 mb-3">
                                    {% if 16 in permissions and distributor.isApproved == 1 %}
                                        <a
                                            href="#"
                                            class="align-middle text-primary nav-icon text-truncate"
                                            id="operating_hours_link"
                                            data-action="click->distributors--my-account#onClickOperatingHours"
                                        >
                                            <i class="fa-regular fa-clock fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Operating Hours</span>
                                        </a>
                                    {% else %}
                                        <span class="align-middle text-primary nav-icon text-truncate text-disabled">
                                            <i class="fa-regular fa-clock fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Operating Hours</span>
                                        </span>
                                    {% endif %}
                                </li>
                                <li class="w-100 mb-3">
                                    {% if 17 in permissions and distributor.isApproved == 1 %}
                                        <a
                                            href="#"
                                            class="align-middle text-primary nav-icon text-truncate"
                                            id="refund_policy_link"
                                            data-action="click->distributors--my-account#onClickRefundPolicy"
                                        >
                                            <i class="fa-solid fa-rotate-left fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Refund Policy</span>
                                        </a>
                                    {% else %}
                                        <span href="#" class="align-middle text-primary nav-icon text-truncate text-disabled">
                                            <i class="fa-solid fa-rotate-left fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Refund Policy</span>
                                        </span>
                                    {% endif %}
                                </li>
                                <li class="w-100 mb-3">
                                    {% if 18 in permissions and distributor.isApproved == 1 %}
                                        <a
                                            href="#"
                                            class="align-middle text-primary nav-icon text-truncate"
                                            id="sales_tax_policy_link"
                                            data-action="click->distributors--my-account#onClickSalesTaxPolicy"
                                        >
                                            <i class="fa-regular fa-scale-unbalanced fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Sale Tax Policy</span>
                                        </a>
                                    {% else %}
                                        <span class="align-middle text-primary nav-icon text-truncate text-disabled">
                                            <i class="fa-regular fa-scale-unbalanced fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Sale Tax Policy</span>
                                        </span>
                                    {% endif %}
                                </li>
                                <li class="w-100 mb-3">
                                    {% if 19 in permissions and distributor.isApproved == 1 %}
                                        <a
                                            href="#"
                                            class="align-middle text-primary nav-icon text-truncate"
                                            id="shipping_policy_link"
                                            data-action="click->distributors--my-account#onClickShippingPolicy"
                                        >
                                            <i class="fa-regular fa-truck-ramp-box fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Shipping Policy</span>
                                        </a>
                                    {% else %}
                                        <span class="align-middle text-primary nav-icon text-truncate text-disabled">
                                            <i class="fa-regular fa-truck-ramp-box fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Shipping Policy</span>
                                        </span>
                                    {% endif %}
                                </li>
                                <li class="w-100 mb-3">
                                    {% if 6 in permissions and distributor.isApproved == 1 %}
                                        <a
                                            class="align-middle text-primary nav-icon text-truncate"
                                            href="#"
                                            id="users_link"
                                            data-action="click->distributors--users#onClickUsers"
                                        >
                                            <i class="fa-regular fa-address-book fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Users</span>
                                        </a>
                                    {% else %}
                                        <span class="align-middle text-primary nav-icon text-truncate text-disabled">
                                            <i class="fa-regular fa-address-book fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Users</span>
                                        </span>
                                    {% endif %}
                                </li>
                            </ul>
                        </li>
                        <li class="w-100" data-controller="orders--distributors">
                            {% if 5 in permissions and distributor.isApproved == 1 %}
                                <a
                                    href="#"
                                    class="px-0 align-middle text-primary nav-icon mb-3 text-truncate"
                                    data-distributor-id="{{ distributor.id }}"
                                    id="orders_link"
                                    data-action="click->orders--distributors#onClickOrdersLink"
                                >
                                    <i class="fa-regular fa-file-invoice fa-fw"></i>
                                    <span class="ms-1 d-none d-sm-inline">Orders</span>
                                </a>
                            {% else %}
                                <span
                                        class="px-0 align-middle text-primary nav-icon mb-3 text-truncate text-disabled"
                                        data-distributor-id="{{ distributor.id }}"
                                >
                                    <i class="fa-regular fa-file-invoice fa-fw"></i>
                                    <span class="ms-1 d-none d-sm-inline">Orders</span>
                                </span>
                            {% endif %}
                        </li>
                        <li class="w-100" data-controller="products--distributor-products">
                            {% if distributor.isApproved == 1 %}
                                {% set tag = 'a' %}
                                {% set href = '#submenu2' %}
                                {% set disabled = '' %}
                            {% else %}
                                {% set tag = 'span' %}
                                {% set href = '' %}
                                {% set disabled = 'text-disabled' %}
                            {% endif %}
                            <{{ tag }}
                                href="{{ href }}"
                                data-bs-toggle="collapse"
                                class="px-0 align-middle text-primary collapsed text-center text-sm-start nav-icon mb-3 text-truncate {{ disabled }}"
                                aria-expanded="false"
                            >
                                <i class="fa-regular fa-cart-flatbed fa-fw"></i>
                                <span class="ms-1 d-none d-sm-inline">Inventory</span>
                            </{{ tag }}>
                            {% if 20 in permissions %}
                                <ul class="nav flex-column collapse" id="submenu2" data-bs-parent="#menu" style="">
                                    <li class="w-100 mb-3">
                                        <a
                                            href="#"
                                            class="align-middle text-primary nav-icon text-truncate"
                                            id="inventory_link"
                                            data-action="click->products--distributor-products#onClickAttach"
                                        >
                                            <i class="fa-regular fa-square-plus fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Attatch New</span>
                                        </a>
                                    </li>
                                    <li class="w-100 mb-3">
                                        <a
                                            href="#" class="align-middle text-primary nav-icon text-truncate"
                                            id="inventory_list_link"
                                            data-action="click->products--distributor-products#onClickInventoryList"
                                        >
                                            <i class="fa-regular fa-shelves fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">List</span>
                                        </a>
                                    </li>
                                </ul>
                            {% else %}
                                <span class="px-0 align-middle text-primary nav-icon mb-3 text-truncate text-disabled">
                                    <i class="fa-regular fa-cart-flatbed fa-fw"></i>
                                    <span class="ms-1 d-none d-sm-inline">Invetory</span>
                                </span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-10 col-sm-10 pb-3 distributor-right-col">

                {# Main Container #}
                <div
                    class="row"
                    id="distributor_container"
                    data-controller="distributors--my-account distributors--users products--distributor-products orders--distributors distributors--distributor-clinics distributors--notifications distributors--miscellaneous"
                >
                </div>
                {# End Main Container #}

                {# Access Denied #}
                <div class="row hidden h-100 height-distributors" style="height: calc(100% - 56px)!important" id="access_denied">
                    <div class="col-12">
                        <table class="w-100 h-100">
                            <tr>
                                <td class="align-middle text-center">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <i class="fa-solid fa-ban pe-2" style="font-size: 30vh; margin-bottom: 30px; color: #CCC;text-align: center"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <h1>Access Denied</h1>

                                            <p class="mt-4 mb-0">
                                                Your user account does not have permission to view the requested page.
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                {# End Access Denied #}
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="spanner">
        <div class="loader"></div>
        <p class="text-light fw-bold" style="font-size: 36px;">Loading...</p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        $(document).ready(function()
        {
            $.session.set('permissions', JSON.stringify({{ permissions }}));
            $.session.set('distributor-id', '{{ distributor.id }}');
            $.session.set('trade-license-no', '{{ nzo_decrypt(distributor.tradeLicenseNo) }}');
            $.session.set('trade-license-file', '{{ distributor.tradeLicense }}');
            $.session.set('trade-license-exp', '{{ distributor.tradeLicenseExpDate|date('Y-m-d') }}');
            $.session.set('is-approved', '{{ distributor.isApproved|default(0) }}')
        });
    </script>
{% endblock %}
