{% extends 'layout_distributor.html.twig' %}

{% block title %}Hello DistributorsController!{% endblock %}

{% block body %}
    <div class="hidden users-flash mb-0" id="flash"></div>
    <div class="container-fluid pe-sm-4">
        <div class="row flex-nowrap">
            <div class="col-2 col-sm-2 col-md-3 col-xl-2 px-sm-2 px-0 bg-light border-right distributor-left-col">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 text-truncate overflow-hidden">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100 mt-4" id="menu">
                        <li class="nav-item py-3 w-100" data-controller="distributors--distributor-clinics">
                            {% if distributor.isApproved == 1 %}
                                {% set tag = 'a' %}
                                {% set id = 'customers_link' %}
                                {% set disabled = '' %}
                            {% else %}
                                {% set tag = 'span' %}
                                {% set id = '' %}
                                {% set disabled = 'text-disabled' %}
                            {% endif %}
                            <{{ tag }}
                                href="#"
                                class="align-middle px-0 text-primary nav-icon text-truncate {{ disabled }}"
                                id="{{ id }}"
                                data-action="distributors--distributor-clinics#onClickCustomersLink"
                            >
                                <i class="fa-regular fa-users fa-fw"></i>
                                <span class="ms-1 d-none d-sm-inline">Customers</span>
                            </{{ tag }}>
                        </li>
                        <li class="w-100" data-controller="distributors--my-account distributors--users">
                            <a
                                href="#submenu1"
                                data-bs-toggle="collapse"
                                class="px-0 align-middle text-primary collapsed text-center text-sm-start nav-icon mb-3 text-truncate dropdown-link"
                                aria-expanded="false"
                            >
                                <i class="fa-regular fa-user-gear fa-fw"></i>
                                <span class="ms-1 d-none d-sm-inline">My Account</span>
                                <span class="float-end d-none d-sm-inline">
                                    <i class="fa-solid fa-caret-right"></i>
                                </span>
                            </a>
                            <ul class="nav flex-column collapse" id="submenu1" data-bs-parent="#menu" style="">
                                <li class="w-100 mb-3">
                                    {% if 10 in permissions %}
                                        <a
                                            href="#"
                                            class="align-middle text-primary nav-icon text-truncate"
                                            id="account_settings_link"
                                            data-action="distributors--my-account#onClickCompanyInformation"
                                        >
                                            <i class="fa-regular fa-screwdriver-wrench fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Company Information</span>
                                        </a>
                                    {% else %}
                                        <span class="align-middle text-primary nav-icon text-truncate text-disabled">
                                            <i class="fa-regular fa-screwdriver-wrench fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Company Information</span>
                                        </span>
                                    {% endif %}
                                </li>
                                <li class="w-100 mb-3">
                                    {% if 15 in permissions and distributor.isApproved == 1 %}
                                        <a
                                            href="#"
                                            class="align-middle text-primary nav-icon text-truncate"
                                            id="about_link"
                                            data-action="click->distributors--my-account#onClickAbout"
                                        >
                                            <i class="fa-regular fa-circle-question fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">About</span>
                                        </a>
                                    {% else %}
                                        <span class="align-middle text-primary nav-icon text-truncate text-disabled">
                                            <i class="fa-regular fa-circle-question fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">About</span>
                                        </span>
                                    {% endif %}

                                </li>
                                <li class="w-100 mb-3">
                                    {% if 16 in permissions and distributor.isApproved == 1 %}
                                        <a
                                            href="#"
                                            class="align-middle text-primary nav-icon text-truncate"
                                            id="operating_hours_link"
                                            data-action="click->distributors--my-account#onClickOperatingHours"
                                        >
                                            <i class="fa-regular fa-clock fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Operating Hours</span>
                                        </a>
                                    {% else %}
                                        <span class="align-middle text-primary nav-icon text-truncate text-disabled">
                                            <i class="fa-regular fa-clock fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Operating Hours</span>
                                        </span>
                                    {% endif %}
                                </li>
                                <li class="w-100 mb-3">
                                    {% if 17 in permissions and distributor.isApproved == 1 %}
                                        <a
                                            href="#"
                                            class="align-middle text-primary nav-icon text-truncate"
                                            id="refund_policy_link"
                                            data-action="click->distributors--my-account#onClickRefundPolicy"
                                        >
                                            <i class="fa-solid fa-rotate-left fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Refund Policy</span>
                                        </a>
                                    {% else %}
                                        <span href="#" class="align-middle text-primary nav-icon text-truncate text-disabled">
                                            <i class="fa-solid fa-rotate-left fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Refund Policy</span>
                                        </span>
                                    {% endif %}
                                </li>
                                <li class="w-100 mb-3">
                                    {% if 18 in permissions and distributor.isApproved == 1 %}
                                        <a
                                            href="#"
                                            class="align-middle text-primary nav-icon text-truncate"
                                            id="sales_tax_policy_link"
                                            data-action="click->distributors--my-account#onClickSalesTaxPolicy"
                                        >
                                            <i class="fa-regular fa-scale-unbalanced fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Sale Tax Policy</span>
                                        </a>
                                    {% else %}
                                        <span class="align-middle text-primary nav-icon text-truncate text-disabled">
                                            <i class="fa-regular fa-scale-unbalanced fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Sale Tax Policy</span>
                                        </span>
                                    {% endif %}
                                </li>
                                <li class="w-100 mb-3">
                                    {% if 19 in permissions and distributor.isApproved == 1 %}
                                        <a
                                            href="#"
                                            class="align-middle text-primary nav-icon text-truncate"
                                            id="shipping_policy_link"
                                            data-action="click->distributors--my-account#onClickShippingPolicy"
                                        >
                                            <i class="fa-regular fa-truck-ramp-box fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Shipping Policy</span>
                                        </a>
                                    {% else %}
                                        <span class="align-middle text-primary nav-icon text-truncate text-disabled">
                                            <i class="fa-regular fa-truck-ramp-box fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Shipping Policy</span>
                                        </span>
                                    {% endif %}
                                </li>
                                <li class="w-100 mb-3">
                                    {% if 6 in permissions and distributor.isApproved == 1 %}
                                        <a
                                            class="align-middle text-primary nav-icon text-truncate"
                                            href="#"
                                            id="users_link"
                                            data-action="click->distributors--users#onClickUsers"
                                        >
                                            <i class="fa-regular fa-address-book fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Users</span>
                                        </a>
                                    {% else %}
                                        <span class="align-middle text-primary nav-icon text-truncate text-disabled">
                                            <i class="fa-regular fa-address-book fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Users</span>
                                        </span>
                                    {% endif %}
                                </li>
                            </ul>
                        </li>
                        <li class="w-100" data-controller="orders--distributors">
                            {% if 5 in permissions and distributor.isApproved == 1 %}
                                <a
                                    href="#"
                                    class="px-0 align-middle text-primary nav-icon mb-3 text-truncate"
                                    data-distributor-id="{{ distributor.id }}"
                                    id="orders_link"
                                    data-action="click->orders--distributors#onClickOrdersLink"
                                >
                                    <i class="fa-regular fa-file-invoice fa-fw"></i>
                                    <span class="ms-1 d-none d-sm-inline">Orders</span>
                                </a>
                            {% else %}
                                <span
                                        class="px-0 align-middle text-primary nav-icon mb-3 text-truncate text-disabled"
                                        data-distributor-id="{{ distributor.id }}"
                                >
                                    <i class="fa-regular fa-file-invoice fa-fw"></i>
                                    <span class="ms-1 d-none d-sm-inline">Orders</span>
                                </span>
                            {% endif %}
                        </li>
                        <li class="w-100" data-controller="products--distributor-products">
                            {% if distributor.isApproved == 1 %}
                                {% set tag = 'a' %}
                                {% set href = '#submenu2' %}
                                {% set disabled = '' %}
                            {% else %}
                                {% set tag = 'span' %}
                                {% set href = '' %}
                                {% set disabled = 'text-disabled' %}
                            {% endif %}
                            <{{ tag }}
                                href="{{ href }}"
                                data-bs-toggle="collapse"
                                class="px-0 align-middle text-primary collapsed text-center text-sm-start nav-icon mb-3 text-truncate {{ disabled }}"
                                aria-expanded="false"
                            >
                                <i class="fa-regular fa-cart-flatbed fa-fw"></i>
                                <span class="ms-1 d-none d-sm-inline">Inventory</span>
                            </{{ tag }}>
                            {% if 20 in permissions %}
                                <ul class="nav flex-column collapse" id="submenu2" data-bs-parent="#menu" style="">
                                    <li class="w-100 mb-3">
                                        <a
                                            href="#"
                                            class="align-middle text-primary nav-icon text-truncate"
                                            id="inventory_link"
                                            data-action="click->products--distributor-products#onClickAttach"
                                        >
                                            <i class="fa-regular fa-square-plus fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">Attatch New</span>
                                        </a>
                                    </li>
                                    <li class="w-100 mb-3">
                                        <a
                                            href="#" class="align-middle text-primary nav-icon text-truncate"
                                            id="inventory_list_link"
                                            data-action="click->products--distributor-products#onClickInventoryList"
                                        >
                                            <i class="fa-regular fa-shelves fa-fw"></i>
                                            <span class="ms-1 d-none d-sm-inline">List</span>
                                        </a>
                                    </li>
                                </ul>
                            {% else %}
                                <span class="px-0 align-middle text-primary nav-icon mb-3 text-truncate text-disabled">
                                    <i class="fa-regular fa-cart-flatbed fa-fw"></i>
                                    <span class="ms-1 d-none d-sm-inline">Invetory</span>
                                </span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-10 col-sm-10 pb-3 distributor-right-col">

                {# Account & Settings #}
                <div
                    class="row"
                    id="distributor_container"
                    data-controller="distributors--my-account distributors--users products--distributor-products orders--distributors distributors--distributor-clinics"
                >
                </div>
                {# End Account & Settings #}

                {# Access Denied #}
                <div class="row hidden h-100 height-distributors" style="height: calc(100% - 56px)!important" id="access_denied">
                    <div class="col-12">
                        <table class="w-100 h-100">
                            <tr>
                                <td class="align-middle text-center">
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <i class="fa-solid fa-ban pe-2" style="font-size: 30vh; margin-bottom: 30px; color: #CCC;text-align: center"></i>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <h1>Access Denied</h1>

                                            <p class="mt-4 mb-0">
                                                Your user account does not have permission to view the requested page.
                                            </p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                {# End Access Denied #}
            </div>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="spanner">
        <div class="loader"></div>
        <p class="text-light fw-bold" style="font-size: 36px;">Loading...</p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        let uri = window.location.pathname;
        let isCompanyInfo = uri.match('/distributors/account');
        let isApproved = '{{ distributor.isApproved|default(0) }}';

        if(isApproved == 0 && isCompanyInfo == null)
        {
            window.location.href = '{{ app.request.schemeAndHttpHost }}/distributors/account';
        }

        $(document).ready(function()
        {
            $.session.set('permissions', JSON.stringify({{ permissions }}));
            $.session.set('distributor-id', '{{ distributor.id }}');
            $.session.set('trade-license-no', '{{ nzo_decrypt(distributor.tradeLicenseNo) }}');
            $.session.set('trade-license-file', '{{ distributor.tradeLicense }}');
            $.session.set('trade-license-exp', '{{ distributor.tradeLicenseExpDate|date('Y-m-d') }}');
            let input = '';
            let iti = '';

            function getFlash(flash, type = 'success'){
                $('#flash').addClass('alert-'+ type).addClass('alert').addClass('text-center');
                $('#flash').removeClass('users-flash').addClass('users-flash').empty().append(flash).removeClass('hidden');

                setTimeout(function() {
                    $('#flash').removeClass('alert-success').removeClass('alert').removeClass('text-center');
                    $('#flash').removeClass('users-flash').empty().addClass('hidden');
                }, 5000);
            }

            {# Dropdown Menu Chevron #}
            $(document).on('click', '.dropdown-link', function (e) {

                e.preventDefault();

                if($(this).attr('aria-expanded') == 'true')
                {
                    $(this).find('.fa-caret-right').css({'rotate':'90deg'});
                }
                else
                {
                    $(this).find('.fa-caret-right').css({'rotate':'0deg'});
                }
            });

            let brand = $('#brand');
            let account_settings = $('#account_settings');
            let about = $('#about');
            let operating_hours = $('#operating_hours');
            let refund_policy = $('#refund_policy');
            let sales_tax_policy = $('#sales_tax_policy');
            let shipping_policy = $('#shipping_policy');
            let inventory = $('#inventory');
            let inventory_item = $('#inventory_item');
            let inventoryList = $('#inventory_list_container');
            let users = $('#users');
            let order_container = $('#order_container');
            let customerContainer = $('#customer_container');
            let get_messages = '';
            let date = new Date();
            let date_time = date.getFullYear() +'-'+ (date.getMonth() + 1) +'-'+ date.getDate() +' '+ String(date.getHours()).padStart(2, "0") + ":" + String(date.getMinutes()).padStart(2, "0") +':'+ String(date.getSeconds()).padStart(2, '0');
            sessionStorage.setItem('date_time', date_time);

            inventory.hide();
            inventoryList.hide();
            inventory_item.hide();
            users.hide();
            order_container.hide();
            customerContainer.hide();
            $('#btn_inventory').hide();
            

            {# Get correct content on refresh #}
            let uri = '{{ app.request.requestUri }}';

            {# Orders #}
            setInterval(function(){

                if($('#datepicker_mobile').val() != '' && $('#datepicker_mobile').val() != 'Date') {

                    $('.clinic_search').attr('data-date', $('#datepicker_mobile').val());
                }

                if($('#datepicker').val() != '' && $('#datepicker').val() != 'Date') {

                    $('.clinic_search').attr('data-date', $('#datepicker').val());
                }
            } , 1000);
            {# Order Details #}
            let is_order_detail = uri.match('/distributors/order/[0-9]+');

            let orderid = '{{app.request.get('order_id')}}';
            let distributorid = '{{distributor.id}}';
            let clinicid = '{{clinic_id}}';

            if(is_order_detail != null && orderid > 0 && distributorid > 0 && clinicid > 0) {

                getOrderDetails(orderid, distributorid, clinicid);
            }

            function getOrderDetails(order_id, distributor_id, clinic_id){

                account_settings.hide();
                about.hide();
                operating_hours.hide();
                refund_policy.hide();
                sales_tax_policy.hide();
                shipping_policy.hide();
                inventory.hide();
                inventoryList.hide();
                inventory_item.hide();
                users.hide();
                order_container.show();

                $.ajax({
                    url: "{{ path('distributor_get_order_details') }}",
                    type: 'POST',
                    data: {
                        order_id: order_id,
                        permissions: JSON.parse($.session.get('permissions')),
                    },
                    dataType: 'json',
                    beforeSend: function (){

                        isLoading(true);
                    },
                    success: function (response) {

                        // Reset page load time for refresh button alert
                        date_time = date.getFullYear() +'-'+ (date.getMonth() + 1) +'-'+ date.getDate() +' '+ String(date.getHours()).padStart(2, "0") + ":" + String(date.getMinutes()).padStart(2, "0") +':'+ String(date.getSeconds()).padStart(2, '0');
                        sessionStorage.setItem('date_time', date_time);

                        $('#order_container').empty().append(response);
                        $('#distributor_chat_inner').scrollTop($('#distributor_chat_inner').prop("scrollHeight"));
                        popOver();
                        getChat(order_id, distributor_id, clinic_id)
                        //$('#chat_pulse').hide();

                        var maxWidth = Math.max.apply( null, $( '.badge' ).map( function () {
                            return $( this ).outerWidth( true );
                        }).get() );

                        $('.badge').css({'width':maxWidth+'px'});

                        isLoading(false);
                    }
                });
            }
            $(document).on('click', '.order_detail_link, .refresh-distributor-order', function (e){

                e.preventDefault();

                // let order_id = $(this).data('order-id');
                // let clinic_id = $(this).data('clinic-id');
                // let distributor_id = $(this).data('distributor-id');
                //
                // sessionStorage.setItem('order_id', order_id);
                // window.history.pushState(null, "Fluid", '/distributors/order/'+ order_id);
                //
                // getOrderDetails(order_id, distributor_id, clinic_id);
                // checkLastModified(order_id);
            });

            function getLastModified(order_id){

                session_date_time = sessionStorage.getItem('date_time');

                $.ajax({
                    url: "{{ path('get_order_last_update') }}",
                    type: 'POST',
                    cache: false,
                    timeout: 10000,
                    data: {
                        order_id: order_id
                    },
                    success: function (response) {
                        console.log(response +' '+ session_date_time);
                        if (response > session_date_time) {
                            console.log('add class');
                            $('.refresh-distributor-order').removeClass('blinking-text').addClass('blinking-text');

                            date = new Date();
                            date_time = date.getFullYear() +'-'+ (date.getMonth() + 1) +'-'+ date.getDate() +' '+ String(date.getHours()).padStart(2, "0") + ":" + String(date.getMinutes()).padStart(2, "0") +':'+ String(date.getSeconds()).padStart(2, '0');

                            sessionStorage.setItem('date_time', date_time);

                        }
                    }
                });
            };

            function checkLastModified(order_id) {
                setInterval(function(){ getLastModified(order_id, distributor_id); }, 5000);
            }

            let chat_pulse = $('#chat_pulse');
            let chat_field = $('#chat_field');
            let order_id = $('#chat_field').data('order-id');
            let distributor_id = $('#chat_field').data('distributor-id');

            $.ajax({
                url: "{{ path('is_typing') }}",
                type: 'POST',
                dataType: 'json',
                data: {
                    order_id: order_id,
                    distributor_id: distributor_id,
                    is_typing: 0,
                },
                success: function (response) {

                    $('#chat_pulse').hide();
                }
            });
            $(document).on('click','#chat_field', function () {

                chat_pulse = $('#chat_pulse');
                chat_field = $('#chat_field');
                order_id = $(this).data('order-id');
                distributor_id = $(this).data('distributor-id');

                $.ajax({
                    url: "{{ path('is_typing') }}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        order_id: order_id,
                        distributor_id: distributor_id,
                        is_clinic: 0,
                        is_distributor: 1,
                        is_typing: 1,
                    },
                    success: function (response) {

                        if(response.clinic_is_typing > 0) {

                            $('#chat_pulse').show();

                        } else {

                            $('#chat_pulse').hide();
                        }
                    }
                });
            });
            $(document).on('blur','#chat_field', function (){

                $.ajax({
                    url: "{{ path('is_typing') }}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        order_id: order_id,
                        distributor_id: distributor_id,
                        is_clinic: 0,
                        is_distributor: 1,
                        is_typing: 0,
                    },
                    success: function (response) {

                        $(chat_pulse).hide();
                    }
                });
            });
            $(document).on('click', '#btn_chat_send', function (e){

                e.preventDefault();

                let message = $('#chat_field').val();

                if(message.length > 0){

                    $.ajax({
                        url:"{{ path('clinic_send_message') }}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            distributor: 1,
                            clinic: 0,
                            distributor_id: $(this).data('distributor-id'),
                            message: message,
                            order_id: $(this).data('order-id')
                        },
                        success: function(response) {
                            $('#distributor_chat_container').empty().append(response);
                            $('#distributor_chat_inner').scrollTop($('#distributor_chat_inner').prop("scrollHeight"));
                            $('#chat_field').val('');
                            $('#chat_pulse').hide();
                        }
                    });
                }
            });
            $(document).on('click', '#order_send_notification', function (e){

                e.preventDefault();

                let order_id = $(this).data('order-id');
                let distributor_id = $(this).data('distributor-id');
                let clinic_id = $(this).data('clinic-id');

                if(order_id > 0 && distributor_id > 0){

                    $.ajax({
                        url:"{{ path('distributor_send_order_notification') }}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            order_id: order_id,
                            distributor_id: distributor_id,
                            clinic_id: clinic_id
                        },
                        beforeSend: function () {
                            $("div.spanner").addClass("show");
                            $("div.overlay").addClass("show");
                        },
                        success: function(response) {
                            $("div.spanner").removeClass("show");
                            $("div.overlay").removeClass("show");
                            getFlash(response);
                        }
                    });
                }
            });
            $(document).on('click', '.btn_confirm', function (e){

                e.preventDefault();

                let item_id = $(this).data('item-id');

                if(item_id > 0){

                    $.ajax({
                        url:"{{ path('distributor_update_order_item_status') }}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            item_id: item_id,
                            confirmed_status: 1
                        },
                        beforeSend: function () {
                            $("div.spanner").addClass("show");
                            $("div.overlay").addClass("show");
                        },
                        success: function(response) {
                            getFlash(response.flash);
                            getOrderDetails(response.order_id, response.distributor_id, response.clinic_id);
                            $("div.spanner").removeClass("show");
                            $("div.overlay").removeClass("show");
                        }
                    });
                }
            });
            $(document).on('click', '.btn_pending', function (e){

                e.preventDefault();

                let item_id = $(this).data('item-id');

                if(item_id > 0){

                    $.ajax({
                        url:"{{ path('distributor_update_order_item_status') }}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            item_id: item_id,
                            confirmed_status: 0
                        },
                        beforeSend: function () {
                            $("div.spanner").addClass("show");
                            $("div.overlay").addClass("show");
                        },
                        success: function(response) {
                            getFlash(response.flash);
                            getOrderDetails(response.order_id, response.distributor_id, response.clinic_id);
                            $("div.spanner").removeClass("show");
                            $("div.overlay").removeClass("show");
                        }
                    });
                }
            });
            $(document).on('change', '.expiry-date', function (e){

                e.preventDefault();

                let item_id = $(this).data('item-id');
                let expiry_date = $(this).val();

                if(item_id > 0){

                    $.ajax({
                        url:"{{ path('distributor_update_expiry_date') }}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            item_id: item_id,
                            expiry_date: expiry_date
                        },
                        beforeSend: function () {
                            $("div.spanner").addClass("show");
                            $("div.overlay").addClass("show");
                        },
                        success: function(response) {
                            getFlash(response.flash);
                            getOrderDetails(response.order_id, response.distributor_id, response.clinic_id);
                            $("div.spanner").removeClass("show");
                            $("div.overlay").removeClass("show");
                        }
                    });
                }
            });
            $(document).on('change', '.item-price', function (e){

                e.preventDefault();

                let item_id = $(this).data('item-id');
                let price = $(this).val();

                if(item_id > 0){

                    $.ajax({
                        url:"{{ path('distributor_update_price') }}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            item_id: item_id,
                            price: price
                        },
                        beforeSend: function () {
                            $("div.spanner").addClass("show");
                            $("div.overlay").addClass("show");
                        },
                        success: function(response) {
                            getFlash(response.flash);
                            getOrderDetails(response.order_id, response.distributor_id, response.clinic_id);
                            $("div.spanner").removeClass("show");
                            $("div.overlay").removeClass("show");
                        }
                    });
                }
            });
            $(document).on('change', '.item-qty', function (e){

                e.preventDefault();

                let item_id = $(this).data('item-id');
                let qty = $(this).val();

                if(item_id > 0){

                    $.ajax({
                        url:"{{ path('distributor_update_qty') }}",
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            item_id: item_id,
                            qty: qty
                        },
                        beforeSend: function () {
                            $("div.spanner").addClass("show");
                            $("div.overlay").addClass("show");
                        },
                        success: function(response) {
                            getFlash(response.flash);
                            getOrderDetails(response.order_id, response.distributor_id, response.clinic_id);
                            $('#basket_container').empty().append(response.orders);
                            $("div.spanner").removeClass("show");
                            $("div.overlay").removeClass("show");
                        }
                    });
                }
            });
            $(document).on('submit', '#form_distributor_orders', function (e){

                e.preventDefault();

                let data = new FormData(this);
                let product_id = data.getAll('product_id[]');
                let exp_dates = data.getAll('expiry_date[]');
                let prices = data.getAll('price[]');
                let qtys = data.getAll('qty[]');
                let is_valid = true;

                for($i = 0; $i < product_id.length; $i++){

                    let error_exp_date = $('#error_expiry_date_'+ product_id[$i]);
                    let error_price = $('#error_price_'+ product_id[$i]);
                    let error_qty = $('#error_qty_'+ product_id[$i]);
                    let exp_date = exp_dates[$i];
                    let price = prices[$i];
                    let qty = qtys[$i];

                    error_exp_date.hide();
                    error_price.hide();
                    error_qty.hide();

                    if((exp_date == '' || exp_date == 'undefined') && exp_date !== 0){

                        error_exp_date.show();
                        is_valid = false;
                    }

                    if(price == '' || price == 'undefined'){

                        error_price.show();
                        is_valid = false;
                    }

                    if(qty == '' || qty == 'undefined'){

                        error_qty.show();
                        is_valid = false;
                    }
                }

                if(is_valid) {

                    $.ajax({
                        url: "{{ path('distributor_update_order') }}",
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        cache: false,
                        timeout: 600000,
                        dataType: 'json',
                        data: data,
                        beforeSend: function () {
                            $("div.spanner").addClass("show");
                            $("div.overlay").addClass("show");
                        },
                        success: function (response) {
                            getFlash(response.flash);
                            getOrderDetails(response.order_id, response.distributor_id, response.clinic_id);
                            $("div.spanner").removeClass("show");
                            $("div.overlay").removeClass("show");

                            date = new Date();
                            date_time = date.getFullYear() +'-'+ (date.getMonth() + 1) +'-'+ date.getDate() +' '+ String(date.getHours()).padStart(2, "0") + ":" + String(date.getMinutes()).padStart(2, "0") +':'+ String(date.getSeconds()).padStart(2, '0');

                            sessionStorage.setItem('date_time', date_time);
                        }
                    });
                }
            });

            function getMessages(distributor_id, clinic_id){

                let uri = window.location.pathname;
                let is_order_detail = uri.match('/[a-zA-Z]+/[a-zA-Z]+/[0-9]+');
                order_id = sessionStorage.getItem('order_id');

                if(is_order_detail != null && order_id > 0) {

                    let messages_sent = $('.speech-bubble-right').length;
                    let messages_received = $('.speech-bubble-left').length;
                    let total_messages = messages_sent + messages_received;

                    $.ajax({
                        url: "{{ path('get_messages') }}",
                        type: 'GET',
                        cache: false,
                        timeout: 10000,
                        data: {
                            distributor: 1,
                            clinic: 0,
                            order_id: order_id,
                            distributor_id: distributor_id,
                            clinic_id: clinic_id,
                            total_messages: total_messages
                        },
                        success: function (response) {

                            if (response.messages.length > 0) {

                                $('#distributor_chat_container').empty().append(response.messages);
                                $('#distributor_chat_inner').scrollTop($('#distributor_chat_inner').prop("scrollHeight"));
                            }

                            if (response.is_typing == 1) {

                                $('#chat_pulse').show();

                            } else {

                                $('#chat_pulse').hide();
                            }
                        }
                    });
                }
            };

            function getChat(order_id, distributor_id, clinic_id) {
                get_messages = setInterval(function(){
                    getMessages(distributor_id, clinic_id);
                }, 1000);
            }
            {# End Orders #}

            {# Clear Search #}
            $(document).on('click', '#inventory_clear', function (e){

                e.preventDefault();
                $('#search_field').val('');
                $('#product_name').empty().append('Manage Your Inventory');
                $('#inventory_item').hide();
                $('#inventory_btn').hide();
            });

            {# Notifications #}
            $('#notifications_panel').hide();
            $(document).on('click', 'a', function (){

                let name = $(this).attr('name');

                if(name != 'notifications'){

                    $('#notifications_panel').hide();
                }

            });
            $(document).on('click', '.btn-notifications', function (e){

                e.preventDefault();
                getNotifications();

                $('#notifications_panel').slideToggle(700);
            });
            $(document).on('click', '.order_notification_alert', function (e){

                e.preventDefault();

                order_id = $(this).data('order-id');
                distributor_id = $(this).data('distributor-id');
                let clinic_id = $(this).data('clinic-id');

                getOrderDetails(order_id, distributor_id, clinic_id);

                let notificationId = $(this).data('notification-id');

                $.ajax({
                    url: "{{ path('delete_notifications') }}",
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        'notification-id': notificationId,
                        'type': 'clinic',
                    }
                });

                window.history.pushState(null, "Fluid", '/distributors/order/'+ order_id +'/'+ distributor_id);
            });
            $(document).on('click', '.notification-panel', function (e){

                e.preventDefault();

                let notificationId = $(this).data('notification-id');

                $.ajax({
                    url: "{{ path('delete_notifications') }}",
                    type: 'POST',
                    cache: false,
                    timeout: 600000,
                    dataType: 'json',
                    data: {
                        'notification-id': notificationId,
                        'type': 'distributor'
                    },
                    success: function (response) {

                        getNotifications();
                    }
                });
            });

            function getNotifications(){

                $.ajax({
                    url: "{{ path('get_order_notification') }}",
                    type: 'GET',
                    cache: false,
                    timeout: 600000,
                    dataType: 'json',
                    data: {
                        'type': 'distributor',
                        'id': '{{ app.user.distributor.id|default(0) }}'
                    },
                    success: function (response) {

                        if(response.count > 0){

                            $('#notifications_icon').addClass('text-secondary');

                        } else {

                            $('#notifications_icon').removeClass('text-secondary');
                        }

                        $('#notifications_panel').empty().append(response.alert);
                    }
                });
            }

            {# Popovers #}
            function popOver() {
                var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                    return new bootstrap.Popover(popoverTriggerEl)
                })
            }

            {# Clode Flash Message #}
            $('#flash').click(function (){
                $('#flash').addClass('hidden');
            });

            function isLoading(status){

                if(status) {

                    $("div.spanner").addClass("show");
                    $("div.overlay").addClass("show");

                } else {

                    $("div.spanner").removeClass("show");
                    $("div.overlay").removeClass("show");
                }
            }

            {# Popovers #}
            function popOver() {
                var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                    return new bootstrap.Popover(popoverTriggerEl)
                })
            }
        });

        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>
{% endblock %}
